* {
    /* All */
    margin: 0;
    padding: 0;
    font-family: Pretendard, "Noto Sans KR", sans-serif, "Noto Sans KR";
  }
  
  a {
    text-decoration: none;
  }
  
  /* 네비게이션바 시작 */
  .navbar {
    display: flex;
    /* 수직적으로 가운데 정렬 */
    align-items: center;
    box-sizing: border-box;
    /* 요소가 여러 개일때 가운데 정렬 */
    justify-content: center;
    /* text-align: center; */
    /* position: fixed; */
    /* width: 1920px; */
    height: 173px;
    padding-top: 27px;
    padding-bottom: 40px;
    /* padding-left: 360px; */
    /* padding-right: 360px; */
  }
  .nav_logo {
    display: flex;
    align-items: center;
    width: 1200px;
    height: 106px;
    flex-shrink: 0;
    border-radius: 14px;
    background: #f8f8f8;
  }
  #nav_logo1 {
    padding-left: 44px;
    padding-top: 21px;
    /* padding-bottom: 23px; */
    padding-right: 68px;
  }
  .nav_menu {
    display: flex;
    box-sizing: border-box;
    /* display: inline-flex; */
    width: 263px;
    height: 46px;
    padding: 10px 28px;
    /* align-items: flex-start; */
    border-radius: 33px;
    background: #fff;
    list-style: none;
    margin-right: 30px;
  }
  
  .navigation {
    display: flex;
    list-style: none;
    text-align: center;
    color: #bbb;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
  /* .navigation a {
      text-decoration: none;
      color: #bbb;
      font-family: "Noto Sans KR";
      font-size: 18px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    } */
  
  .b {
    text-decoration: none;
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
  }
  .c {
    text-decoration: none;
    color: #bbb;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-left: 24px;
  }
  #search {
    display: flex;
    width: 242px;
    height: 46px;
    border-radius: 23px;
    background: #fff;
    margin-right: 13px;
    border: none;
  }
  input.search {
    background: url("../images/search.png") no-repeat center;
    background-size: 30px;
    width: 212px;
    height: 46px;
    border-radius: 23px;
    background: #fff;
    border: none;
  }
  #search > img {
    padding-top: 10px;
    padding-right: 14px;
  }
  input.imagebtn {
    background: url("../images/pic.png") no-repeat center;
    background-size: 30px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #fff;
    border: none;
    margin-right: 9px;
  }
  input.uploadbtn {
    background: url("../images/upload.png") no-repeat center;
    background-size: 30px;
    width: 46px;
    height: 46px;
    border-radius: 23px;
    background-color: #fff;
    border: none;
    margin-right: 72px;
  }
  
  /* 임시 로그인 버튼 */
  #join {
    display: none;
    width: 109px;
    height: 46px;
  }
  
  #join + label {
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 109px;
    height: 46px;
    background: #fff;
    padding: 10px 29px 10px 28px;
    /* line-height: 36px; */
    cursor: pointer;
    border-radius: 35px;
    /* 동작 천천히 보여주기 */
    transition: all 500ms ease-in;
  }
  /* 네비게이션바 끝 */




  /* 시즌별 시작 */

  #SeasonStoryfull {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 140px;
  }
  
  #SeasonStoryTitle {
    display: flex;
    /* 수직적으로 가운데 정렬 */
    /* align-items: center; */
    box-sizing: border-box;
    /* 요소가 여러 개일때 가운데 정렬 */
    width:1220px;
    height: 90px;
  }
  
  #seasonstorytitle_1 {
    display: flex;
    /* 수직적으로 가운데 정렬 */
    /* align-items: center; */
    box-sizing: border-box;
    /* 요소가 여러 개일때 가운데 정렬 */
    width: 280px;
    height: 90px;
  }
  
  .themestoryimg {
    width: 90px;
    height: 90px;
    padding-left: 20px;
    padding-right: 16px;
  }
  
  .themetitle1 {
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 90px;
  }
  
  #themestory_select {
    padding-left: 810px;
    padding-top: 52px;
  }
  
  #story_select {
    display: flex;
    width: 145px;
    height: 30px;
    padding: 4px 4px 4px 8px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    border-radius: 8px;
    border: 1px solid #ececec;
    background: #fff;
  }
  
  .recom_select {
    color: #606060;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  
  .newest_select {
    color: #606060;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  
  .inquiry_select {
    color: #606060;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  
  .month_select {
    color: #606060;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  
  .today_select {
    color: #606060;
    text-align: center;
    font-family: "Noto Sans KR";
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
  }
  
  #themeStoryBack {
    width: 1240px;
    height: 1593px;
    border-radius: 12px;
    background: #f8f8f8;
    margin-top: 20px;
    margin-bottom: 402px;
  }
  /* 테마별 상세페이지 스토리 끝 */
  
  /* 시즌별 끝 */