* {
  /* All */
  margin: 0;
  padding: 0;
  font-family: Pretendard, "Noto Sans KR", sans-serif, "Noto Sans KR";
}

a {
  text-decoration: none;
}

/* 네비게이션바 시작 */
.navbar {
  display: flex;
  /* 수직적으로 가운데 정렬 */
  align-items: center;
  box-sizing: border-box;
  /* 요소가 여러 개일때 가운데 정렬 */
  justify-content: center;
  /* text-align: center; */
  /* position: fixed; */
  /* width: 1920px; */
  height: 173px;
  padding-top: 27px;
  padding-bottom: 40px;
  /* padding-left: 360px; */
  /* padding-right: 360px; */
}
.nav_logo {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #f8f8f8;
}
#nav_logo1 {
  padding-left: 44px;
  padding-top: 21px;
  /* padding-bottom: 23px; */
  padding-right: 68px;
}
.nav_menu {
  display: flex;
  box-sizing: border-box;
  /* display: inline-flex; */
  width: 263px;
  height: 46px;
  padding: 10px 28px;
  /* align-items: flex-start; */
  border-radius: 33px;
  background: #fff;
  list-style: none;
  margin-right: 30px;
}

.navigation {
  display: flex;
  list-style: none;
  text-align: center;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* .navigation a {
    text-decoration: none;
    color: #bbb;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } */

.b {
  text-decoration: none;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.c {
  text-decoration: none;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 24px;
}
#search {
  display: flex;
  width: 242px;
  height: 46px;
  border-radius: 23px;
  background: #fff;
  margin-right: 13px;
  border: none;
}
input.search {
  background: url("../images/search.png") no-repeat center;
  background-size: 30px;
  width: 212px;
  height: 46px;
  border-radius: 23px;
  background: #fff;
  border: none;
}
#search > img {
  padding-top: 10px;
  padding-right: 14px;
}
input.imagebtn {
  background: url("../images/pic.png") no-repeat center;
  background-size: 30px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #fff;
  border: none;
  margin-right: 9px;
}
input.uploadbtn {
  background: url("../images/upload.png") no-repeat center;
  background-size: 30px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #fff;
  border: none;
  margin-right: 72px;
}

/* 임시 로그인 버튼 */
#join {
  display: none;
  width: 109px;
  height: 46px;
}

#join + label {
  box-sizing: border-box;
  /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
  display: flex;
  /* 이 코드가 있어야 나란히 정렬 가능 */
  /* display: inline-block; */
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 109px;
  height: 46px;
  background: #fff;
  padding: 10px 29px 10px 28px;
  /* line-height: 36px; */
  cursor: pointer;
  border-radius: 35px;
  /* 동작 천천히 보여주기 */
  transition: all 500ms ease-in;
}
/* 네비게이션바 끝 */

/* 테마별 여행지 시작 */
#theme_full {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 80px;
}

#theme_title {
  box-sizing: border-box;
  /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
  display: flex;
  /* 이 코드가 있어야 나란히 정렬 가능 */
  height: 90px;
  margin-bottom: 16px;
}
.themeimg {
  width: 90px;
  height: 90px;
  padding-right: 16px;
  padding-left: 20px;
}

.theme {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 90px;
}
.themeback {
  width: 1240px;
  height: 620px;
  border-radius: 12px;
  background: #f8f8f8;
}

#theme_container {
  position: relative;
  display: inline-block;
}

#theme1 {
  background: url("../images/theme1.png");
  width: 387px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
  /* padding: 0; */
  position: relative;
  z-index: 2; /* 버튼을 다른 요소 위에 배치합니다. */
  /* position: relative;
  display: inline-block; */
}
#text_theme1 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 203px; /* check이미지가 텍스트 옆에 들어와서 32px뺐음*/
}
#themecheck1 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage1 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 390px;
  height: 180px;
  width: 104%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 109%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: -9px;
  left: -7px;
}

#theme2 {
  background: url("../images/theme2.png");
  width: 487.002px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme2 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 308px;
}
#themecheck2 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage2 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 489px;
  height: 180px;
  width: 100%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 98%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 12px;
  left: 10px;
}

#theme3 {
  background: url("../images/theme3.png");
  width: 285px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme3 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 106px;
}
#themecheck3 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage3 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 285px;
  height: 180px;
  width: 97%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 98%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 12px;
  left: 15px;
}

#theme4 {
  background: url("../images/theme4.png");
  width: 285px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme4 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 172px;
}
#themecheck4 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage4 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 285px;
  height: 180px;
  width: 97%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 98%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 12px;
  left: 15px;
}

#theme5 {
  background: url("../images/theme5.png");
  width: 387px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme5 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 201px;
}
#themecheck5 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage5 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 387px;
  height: 180px;
  width: 100%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 99%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 11px;
  left: 11px;
}

#theme6 {
  background: url("../images/theme6.png");
  width: 488px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme6 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 330px;
}
#themecheck6 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage6 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 489px;
  height: 180px;
  width: 100%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 98%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 12px;
  left: 10px;
}

#theme7 {
  background: url("../images/theme7.png");
  width: 387px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme7 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 207px;
}
#themecheck7 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage7 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 387px;
  height: 180px;
  width: 99%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 99%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 11px;
  left: 11px;
}

#theme8 {
  background: url("../images/theme8.png");
  width: 386px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme8 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 207px;
}
#themecheck8 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage8 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 386px;
  height: 180px;
  width: 99%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 99%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 11px;
  left: 12px;
}

#theme9 {
  background: url("../images/theme9.png");
  width: 387px;
  height: 180px;
  border: none;
  margin-left: 20px;
  margin-top: 20px;
  cursor: pointer;
}
#text_theme9 {
  color: #fff;
  font-family: "Noto Sans KR";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 120px;
  padding-right: 234px;
}
#themecheck9 {
  /* display: none; */
  padding-left: 4px;
  position: relative;
  top: 3px; /* 아래로 6px 이동 */
}
#overlayImage9 {
  border: none;
  position: absolute;
  z-index: 1; /* 이미지를 버튼 위에 겹쳐서 보이게 합니다. */
  display: none;
  width: 387px;
  height: 180px;
  width: 99%; /* 이미지의 너비를 부모 요소의 너비보다 20% 더 크게 설정 */
  height: 99%; /* 이미지의 높이를 부모 요소의 높이보다 20% 더 크게 설정 */
  object-fit: fill; /* 이미지를 부모 요소에 맞게 비율을 유지하면서 크기를 조절하도록 설정 */
  top: 11px;
  left: 12px;
}
/* 테마별 여행지 끝 */

/* 테마별 상세페이지 스토리 시작 */
#themeStoryfull {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 100px;
}

#themeStoryTitle {
  display: flex;
  /* 수직적으로 가운데 정렬 */
  /* align-items: center; */
  box-sizing: border-box;
  /* 요소가 여러 개일때 가운데 정렬 */
}

#themestorytitle_1 {
  display: flex;
  /* 수직적으로 가운데 정렬 */
  /* align-items: center; */
  box-sizing: border-box;
  /* 요소가 여러 개일때 가운데 정렬 */
  width: 280px;
  height: 90px;
}

.themestoryimg {
  width: 90px;
  height: 90px;
  padding-left: 20px;
  padding-right: 16px;
}

.themetitle1 {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
}

#themestory_select {
  padding-left: 810px;
  padding-top: 52px;
}

#story_select {
  display: flex;
  width: 145px;
  height: 30px;
  padding: 4px 4px 4px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #ececec;
  background: #fff;
}

.recom_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.newest_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.inquiry_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.month_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.today_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

#themeStoryBack {
  width: 1240px;
  height: 1593px;
  border-radius: 12px;
  background: #f8f8f8;
  margin-top: 20px;
  margin-bottom: 402px;
}
/* 테마별 상세페이지 스토리 끝 */
