<!-- 비밀번호 변경 팝업 -->
<div id="bg_gray11" style="display: none;" th:fragment="changePwPopup">
  <div id="changepw_pop_up">
    <div id="changepwTitle">
      <p id="changepwtitle1">비밀번호 변경</p>
      <div id="close">
        <!-- 팝업창 닫기 버튼 -->
        <img
                th:src="@{/images/X.png}"
                alt="X"
                width="28px"
                height="28px"
                onclick="resetPasswordFieldsp(); closePasswordPopup();"
        />
      </div>
    </div>

    <!-- 비밀번호 변경 폼 시작 -->
    <form id="changePasswordForm">
      <div id="currentpwpart">
        <div id="currentpwparttext">
          <p id="currentpwparttext1">현재 비밀번호</p>
        </div>
        <input type="password" id="inputcurrentpw" required />
      </div>

      <div id="newpwpart">
        <div id="newpwparttext">
          <p id="currentpwparttext1">새 비밀번호</p>
        </div>
        <input type="password" id="inputnewpwp" oninput="checkInputs1p()" required />

        <!-- 비밀번호 유효성 검사 메시지 -->
        <div id="check_change_pw">
          <p id="text241" style="color: #c1c1c1;">특수문자 포함</p>
          <p id="text251" style="color: #c1c1c1;">8자 이상</p>
        </div>
      </div>

      <div id="recheckpwpart">
        <div id="recheckpwparttext">
          <p id="recheckpwparttext1">새 비밀번호 확인</p>
        </div>
        <input type="password" id="inputrecheckpw" oninput="checkPasswordsMatchp()" required />
        <p id="recheckpwparttext2" style="color: red;"></p> <!-- 비밀번호 일치 여부 표시 -->
      </div>

      <!-- 버튼에 클릭 이벤트 리스너 직접 추가 -->
      <button type="button" id="changepwbtn" onclick="submitPasswordChange()">확인</button>
    </form>
    <!-- 비밀번호 변경 폼 끝 -->

  </div>
</div>
