  <body>
    <!-- 팝업 열기 버튼 -->
    <div id="bg_gray6" style="display: none" th:fragment="emailFindPopup">
      <div id="emailfind_pop_up">
        <div id="emailfindTitle">
          <p id="pwfindlogin">로그인</p>
          <div id="emailfindback">
            <img
              th:src="@{/images/arrow1.png}"
              alt="뒤로가기"
              width="24px"
              height="24px"
            />
          </div>
          <p id="emailfindtitle1">이메일 찾기</p>
          <div id="close" onclick="closePopup()">
            <img th:src="@{/images/X.png}" alt="X" width="28px" height="28px" />
          </div>
        </div>
        <div id="phone1">전화번호</div>
        <div class="input41">
          <input type="text" id="phone_input11" placeholder="010" />
          <div id="text7">-</div>
          <input type="text" id="phone_input21" placeholder="1234" />
          <div id="text7">-</div>
          <input type="text" id="phone_input31" placeholder="5678" />
        </div>
        <div class="input5">
          <label for="CertificationNumber_inputp">
            <input
              type="text"
              id="CertificationNumber_inputp"
              name="verificationCode"
              placeholder="인증번호를 입력해 주세요"
            />
          </label>
          <button onclick="sendVerificationCode()">전송</button>
        </div>
        <p id="sendStatus"></p>
        <button id="emailfindcheckbtn" onclick="verifyCode()">확인</button>
      </div>
    </div>
  </body>
