<!-- 팔로우 취소 팝업 -->
<body>
<div id="bg_gray10" style="display: none" th:fragment="followCancelPopup">
    <div id="followcancel_pop_up">
        <div id="followcancelTitle">
            <p id="followcanceltitle1">팔로우 취소</p>
            <div id="close">
                <img
                        th:src="@{/images/X.png}"
                        alt="X"
                        width="28px"
                        height="28px"
                        onclick="document.getElementById('bg_gray10').style.display='none';"
                />
            </div>
        </div>
        <div id="followcancelcontent">팔로우를 취소하시겠습니까?</div>

        <div id="followcancelbuttons">
            <button
                    id="closefollowcancelbtn"
                    type="button"
                    onclick="closeUnfollowPopup();"
            >
                닫기
            </button>
            <!-- 취소하기 버튼 클릭 시 form 제출 -->
            <button id="closefollowcancelbtn2" type="button" onclick="confirmUnfollow()">
                취소하기
            </button>
        </div>
    </div>
</div>

<!-- 팔로우 취소 form -->
<form th:action="@{'/writer/' + ${follow.username} + '/unfollow'}" method="post" id="unfollowForm">
</form>

<script>
    // '취소하기' 버튼 클릭 시 form 제출
    function submitUnfollowForm() {
        document.getElementById('unfollowForm').submit();
    }
</script>
</body>