  <body>
    <!-- 회원가입 완료 팝업 -->
    <div id="bg_gray5" style="display: none" th:fragment="joinFinishPopup">
      <div id="joinfinsih_pop_up">
        <div id="joincheckTitle">
          <p id="joinchecktitle1">회원가입</p>
          <div id="close">
            <img
              th:src="@{/images/X.png}"
              alt="X"
              width="28px"
              height="28px"
              onclick="document.getElementById('bg_gray5').style.display='none'; enableScroll();"
            />
          </div>
        </div>
        <p id="joinfinishcontent">회원가입이 완료되었습니다.</p>

        <div id="joinfinishbuttons">
          <button id="joinfinishbtn" type="button" onclick="closePopupff()">
            닫기
          </button>
          <button id="gotologinbtn" type="button" onclick="goTonewLoginff()">
            로그인
          </button>
        </div>
      </div>
    </div>
  </body>
