<div id="storyPopup" style="display: none;">
    <div id="close">
        <img src="/static/images/closebtn.png" alt="X" width="28px" height="28px" onclick="closePopup()" />
    </div>
    <div class="container">
        <div class="image-container">
            <img id="popupImage" src="" alt="image">
        </div>
        <div class="story-etc">
            <div class="story-text">
                <p id="popupTitle" class="Detail_name"></p>
                <div id="story_">
                    <p id="popupAddress" class="Detail_address"></p>
                    <p id="popupDate" class="Detail_date"></p>
                </div>
                <p id="popupDescription" class="Detail_text"></p>
            </div>
            <!-- 좋아요 및 북마크 버튼 추가 -->
            <div id="del_to_book">
                <p id="popupLikes" class="Detail_likes"></p>
                <p id="popupBookmarks" class="Detail_bookmarks"></p>
                <button type="button" class="Story_like" onclick="toggleLike()">
                    <img src="/images/favorite.png" alt="Heart Icon" class="icon">
                </button>
                <button type="button" class="Story_book" onclick="toggleBookmark()">
                    <img src="/images/StoryDetailbtn2.png" alt="Bookmark Icon" class="icon">
                </button>
                <button type="button" class="Story_del"></button>
            </div>

            <div class="tag" id="popupTagsContainer"></div>
            <div class="profile">
                <div class="Profile_Image">
                    <button class="profile_1">
                        <img id="popupProfileImage" class="profile_2" src="" width="42" height="42" alt="Profile Image" style="border: none; cursor: pointer; outline: none; background-color: #FFF;">
                    </button>
                </div>
                <div class="profile_text">
                    <p id="popupProfileName" class="profile_name"></p>
                    <p id="popupProfileFollowers" class="profile_follow"></p>
                </div>
            </div>
            <button type="button" id="relatedStoriesButton" class="related"></button>
        </div>
        <!-- 검색하기 버튼과 검색 결과 개수 추가 -->
        <div class="search-container">
            <button type="button" id="searchButton" onclick="searchByTitle()">검색하기</button>
            <span id="searchResultCount" style="margin-left: 10px;"></span> <!-- 검색 결과 개수 표시 -->
        </div>

    </div>
</div>
