* {
  /* All */
  margin: 0;
  padding: 0;
  font-family: Pretendard, "Noto Sans KR", sans-serif, "Noto Sans KR";
}
a {
  text-decoration: none;
}
/* 가로선 */
hr {
  margin-left: 36px;
  width: 400px;
  height: 0px;
  stroke-width: 1px;
  stroke: #d2d2d2;
}
.scrollLock {
  overflow: hidden;
}
/* 내비게이션바 시작 */
.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 173px;
  padding-top: 27px;
  padding-bottom: 40px;
}
.nav_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #f8f8f8;
}
#nav_left {
  display: flex;
  align-items: center;
}
#nav_right {
  display: flex;
  align-items: center;
}
#nav_logo1 {
  padding-left: 45px;
  padding-top: 10px;
  padding-right: 66px;
}
.nav_menu {
  display: flex;
  box-sizing: border-box;
  width: 205px;
  height: 46px;
  padding: 10px 28px;
  border-radius: 33px;
  background: #fff;
  list-style: none;
  margin-right: 74px;
}
.navigation {
  display: flex;
  list-style: none;
  text-align: center;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.b {
  text-decoration: none;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}
.c {
  text-decoration: none;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 24px;
  cursor: pointer;
}
#search {
  display: flex;
  width: 264px;
  height: 46px;
  box-sizing: border-box;
  background: url("../images/search.png") no-repeat;
  background-position: center;
  background-size: 30px;
  background: #fff;
  border: none;
  padding: 8px 16px 8px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 46px;
  border-radius: 46px;
  background: #fff;
  cursor: pointer;
}
input.search {
  -webkit-appearance: none;
  width: 188px;
  height: 30px;
  color: #3d3d3d;
  font-family: "Noto Sans CJK KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
}
#uploadbtn {
  background: url("../images/upload.png") no-repeat center;
  background-size: 30px;
  width: 46px;
  height: 46px;
  padding: 8px;
  border-radius: 46px;
  background-color: #fff;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
input.imagebtn {
  background: url("../images/pic.png") no-repeat center;
  background-size: 24px;
  width: 46px;
  height: 46px;
  padding: 11px;
  border-radius: 46px;
  background-color: #fff;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
#join {
  display: none;
  width: 109px;
  height: 46px;
}
#join + label {
  margin-right: 36px;
  box-sizing: border-box;
  display: flex;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 109px;
  height: 45px;
  background: #fff;
  padding: 10px 29px 10px 29px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 500ms ease-in; /* 동작 천천히 보여주기 */
}
#join:checked + label {
  width: 36px;
  height: 36px;
  padding: 0; /* 내부 여백 제거 */
  font-size: 0; /* 텍스트 숨기기 */
  border-radius: 49px;
  border: 2px solid #fff;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
}
/* 내비게이션바 끝 */

/* 마이페이지 시작 */
#mypagefull {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 50px;
}
#mypage {
}
#mypageTitle {
  display: flex; /* 수직적으로 가운데 정렬 */
  box-sizing: border-box; /* 요소가 여러 개일때 가운데 정렬 */
}
#mypage_title {
  box-sizing: border-box;
  display: flex;
  margin-bottom: 20px;
  margin-left: 28px;
  width: 136px;
  height: 43px;
  color: #2f2f2f;
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.6px;
}

#mypageprofilefull {
  display: flex;
  box-sizing: border-box;
  width: 1240px;
  height: 248px;
  flex-shrink: 0;
  border-radius: 20px;
  background: #f6f6f6;
  padding: 24px;
}
#mypageprofile {
  width: 200px;
  height: 200px;
  padding-right: 32px;
}
#mypagedetail_1 {
  box-sizing: border-box;
  display: flex;
}
#username {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-right: 16px;
}
#mypagefollower {
  display: flex;
  width: 97px;
  height: 20px;
  padding: 6px 17px;
  align-items: center;
  gap: 4px;
  border-radius: 32px;
  background: #fff;
  margin-top: 9px;
  margin-bottom: 2px;
}
#mypagefollowertext {
  color: #444;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
#mypagefollowertext1 {
  color: #444;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 125% */
  letter-spacing: -0.32px;
}
/* input.mypageadd {
  display: flex;
  background: url("../images/mypageadd.png") no-repeat center;
  background-size: 36px;
  width: 36px;
  height: 36px;
  border: none;
  margin-top: 3px;
  cursor: pointer;
}

input.mypageedit {
  display: flex;
  background: url("../images/mypagedit.png") no-repeat center;
  background-size: 36px;
  width: 36px;
  height: 36px;
  border: none;
  margin-top: 3px;
  margin-left: 540px;
  margin-right: 12px;
  cursor: pointer;
} */

#mypagedetail_2 {
  box-sizing: border-box;
  display: flex;
  padding-top: 18px;
}
#mypagedetail_2name {
  color: #8d8d8d;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
#mypagedetail_2number {
  color: #8d8d8d;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
  padding-right: 20px;
}

#mypagedetail_3 {
  box-sizing: border-box;
  display: flex;
}
#majortheme {
  margin-top: 45px;
  margin-right: 8px;
}
#mypagethemename {
  color: #656565;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px; /* 100% */
}
#mypagetag {
  margin-top: 41px;
  display: flex;
  box-sizing: border-box;
  width: auto;
  height: auto;
  padding: 3px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  /* border: 1px solid #f4f4f4; */
  background: #fff;
  margin-right: 6px;
}
#mypagetagname {
  color: #767676;
  font-family: Pretendard;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 21px */
  letter-spacing: -0.3px;
}

#mypagedetail_4 {
  box-sizing: border-box;
  display: flex;
  padding-top: 20px;
}
#newestupload {
  color: #acacac;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.28px;
}
#newestuploaddate {
  padding-left: 6px;
  color: #acacac;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.28px;
}
#newestuploaddate1 {
  color: #acacac;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px; /* 185.714% */
  letter-spacing: -0.28px;
}
#mypage_select {
  padding-left: 1075px;
  padding-top: 60px;
  padding-bottom: 30px;
}
#story_select {
  display: flex;
  width: 145px;
  height: 30px;
  padding: 4px 4px 4px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1.6px solid #ececec;
  background: #fff;
}
.recom_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.newest_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.inquiry_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.month_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.today_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

#back {
  width: 1240px;
  /* height: 1684px; */ /* 이 코드를 없애면 스토리 사이즈 맞게 조절된다*/
  flex-shrink: 0;
  border-radius: 12px;
  background: #f8f8f8;
  padding: 20px;
  margin-bottom: 150px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px; /* Increased gap for better spacing */
}
#storyimage {
  width: 285px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #d9d9d9;
  margin-bottom: 8px;
}
#storyTitlefull {
  display: flex; /* 수직적으로 가운데 정렬 */
  justify-content: space-between;
  align-items: center;
}
#storyTitle {
  color: #1d1d1d;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 133.333% */
  padding-left: 2px;
  flex: 1;
}
.story {
  position: relative; /* Relative positioning for title placement */
  width: 285px;
  height: 235px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stories {
  position: relative; /* Relative positioning for title placement */
  width: 285px;
  height: 235px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.story > a {
  width: 285px;
  height: 235px;
}
.right-side {
  display: flex;
  align-items: center;
}
.seeimage {
  width: 16px;
  height: 16px;
  padding-top: 4px;
  padding-right: 2px;
}
.likeimage {
  width: 14px;
  height: 14px;
  padding-top: 5px;
  padding-right: 2px;
}
.imagetext {
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  padding-top: 2px;
  padding-right: 10px;
}
