* {
  /* All */
  margin: 0;
  padding: 0;
  font-family: Pretendard, "Noto Sans KR", sans-serif, "Noto Sans KR";
}
a {
  text-decoration: none;
}
/* 가로선 */
hr {
  margin-left: 36px;
  width: 400px;
  height: 0px;
  stroke-width: 1px;
  stroke: #d2d2d2;
}
.scrollLock {
  overflow: hidden;
}
/* 내비게이션바 시작 */
.navbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  justify-content: center;
  height: 173px;
  padding-top: 27px;
  padding-bottom: 40px;
}
.nav_logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1240px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #f8f8f8;
}
#nav_left {
  display: flex;
  align-items: center;
}
#nav_right {
  display: flex;
  align-items: center;
}
#nav_logo1 {
  padding-left: 45px;
  padding-top: 10px;
  padding-right: 66px;
}
.nav_menu {
  display: flex;
  box-sizing: border-box;
  width: 205px;
  height: 46px;
  padding: 10px 28px;
  border-radius: 33px;
  background: #fff;
  list-style: none;
  margin-right: 74px;
}
.navigation {
  display: flex;
  list-style: none;
  text-align: center;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.b {
  text-decoration: none;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  cursor: pointer;
}
.c {
  text-decoration: none;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 24px;
  cursor: pointer;
}
#search {
  display: flex;
  width: 264px;
  height: 46px;
  box-sizing: border-box;
  background: url("../images/search.png") no-repeat;
  background-position: center;
  background-size: 30px;
  background: #fff;
  border: none;
  padding: 8px 16px 8px 30px;
  justify-content: space-between;
  align-items: center;
  border-radius: 46px;
  border-radius: 46px;
  background: #fff;
  cursor: pointer;
}
input.search {
  -webkit-appearance: none;
  width: 188px;
  height: 30px;
  color: #3d3d3d;
  font-family: "Noto Sans CJK KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  border: none;
}
#uploadbtn {
  background: url("../images/upload.png") no-repeat center;
  background-size: 30px;
  width: 46px;
  height: 46px;
  padding: 8px;
  border-radius: 46px;
  background-color: #fff;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
input.imagebtn {
  background: url("../images/pic.png") no-repeat center;
  background-size: 24px;
  width: 46px;
  height: 46px;
  padding: 11px;
  border-radius: 46px;
  background-color: #fff;
  border: none;
  margin-right: 20px;
  cursor: pointer;
}
#join {
  display: none;
  width: 109px;
  height: 46px;
}
#join + label {
  margin-right: 36px;
  box-sizing: border-box;
  display: flex;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 109px;
  height: 45px;
  background: #fff;
  padding: 10px 29px 10px 29px;
  cursor: pointer;
  border-radius: 50px;
  transition: all 500ms ease-in; /* 동작 천천히 보여주기 */
}
#join:checked + label {
  width: 36px;
  height: 36px;
  padding: 0; /* 내부 여백 제거 */
  font-size: 0; /* 텍스트 숨기기 */
  border-radius: 49px;
  border: 2px solid #fff;
  background: url(<path-to-image>) lightgray 50% / cover no-repeat;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.15);
}
/* 내비게이션바 끝 */

/* 인기작가 상세페이지 시작 */
#PopularWriterfull {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 120px;
}

#PopularWriterTitle {
  display: flex;
  box-sizing: border-box; /* 요소가 여러 개일때 가운데 정렬 */
  width: 1200px;
  height: 90px;
}

#PopularWritertitle_1 {
  display: flex;
  box-sizing: border-box; /* 요소가 여러 개일때 가운데 정렬 */
  width: 1200px;
  height: 90px;
}

.PopularWriterimg {
  width: 90px;
  height: 90px;
  padding-right: 30px;
}

.populartitle1 {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
  color: #000;
  letter-spacing: -0.96px;
}

/* 인기작가 프로필 모음집 시작*/
#writerboxback {
  width: 1242px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 10px;
  margin-bottom: 42px;
}
#writerbox {
  display: flex;
  width: 287px;
  height: 160px;
  border-radius: 12px;
  background: #f6f6f6;
  margin-top: 20px;
  border: none;
  box-sizing: border-box;
}
#profile_A {
  width: 160px;
  height: 160px;
  position: relative;
  display: inline-block;
  overflow: hidden; /* 이미지가 부모 요소를 넘지 않도록 설정 */
}

#profile_A .overlay {
  display: inline-flex;
  padding: 1px 7px 2px 7px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
  position: absolute;
  top: 18px;
  left: 18px;
  z-index: 2;
}

#profileimg {
  width: 140px; /* 이미지의 너비 */
  height: 140px; /* 이미지의 높이 */
  z-index: 1;
  border-radius: 8px; /* 이미지 자체에 border-radius 적용 */
  display: block;
  object-fit: cover; /* 이미지를 컨테이너에 맞게 조절 */
  margin: 0 auto; /* 이미지를 가운데로 정렬 */
  margin-top: 10px;
}

#profile_B {
  width: 127px;
}
#writerName {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-top: 22px;
}
#writerPostLike {
  display: flex;
  padding-top: 10px;
  height: 18px;
}
#writerpost {
  color: #727272;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  padding-left: 2px;
  padding-bottom: 2px;
  padding-right: 10px;
}
#writerlikeimg {
  padding-top: 2px;
}
#writerlike {
  color: #727272;
  font-family: "Noto Sans KR";
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  padding-left: 2px;
  padding-bottom: 2px;
}
.writerTags {
  display: flex;
  flex-wrap: wrap; /* 줄바꿈 허용 */
  /* padding-top: 36px; */
  box-sizing: border-box;
  max-width: 160px; /* 총 길이가 5 이상일 경우 줄바꿈 발생 */
  transition: padding-top 0.3s ease; /* 패딩 값 변경 시 애니메이션 */
}

.writertag {
  display: inline-flex;
  height: 24px;
  padding: 3px 8px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
  border-radius: 5px;
  border: 1px solid #f4f4f4;
  background: #fff;
  z-index: 1;
  margin-right: 4px;
  margin-bottom: 4px; /* 두 번째 줄 간격 추가 */
}

.writertagname {
  color: #767676;
  font-family: Pretendard;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: 140%;
  letter-spacing: -0.26px;
}
#seasonmorebtn {
  background: url("../images/morebtn.png");
  width: 128px;
  height: 48px;
  border: none;
  margin-left: 556px;
  cursor: pointer;
  margin-bottom: 208px;
}
