#writerpage_select {
  padding-left: 1075px;
  padding-top: 60px;
  padding-bottom: 30px;
}

#story_select {
  display: flex;
  width: 145px;
  height: 30px;
  padding: 4px 4px 4px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1.6px solid #ececec;
  background: #fff;
}

.recom_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.select_disabled {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
.newest_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

.inquiry_select {
  color: #606060;
  text-align: center;
  font-family: "Noto Sans KR";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}

* {
  /* All */
  margin: 0;
  padding: 0;
  font-family: Pretendard, "Noto Sans KR", sans-serif, "Noto Sans KR";
}

a {
  text-decoration: none;
}

/* 네비게이션바 시작 */
.navbar {
  display: flex;
  /* 수직적으로 가운데 정렬 */
  align-items: center;
  box-sizing: border-box;
  /* 요소가 여러 개일때 가운데 정렬 */
  justify-content: center;
  /* text-align: center; */
  /* position: fixed; */
  /* width: 1920px; */
  height: 173px;
  padding-top: 27px;
  padding-bottom: 40px;
  /* padding-left: 360px; */
  /* padding-right: 360px; */
}
.nav_logo {
  display: flex;
  align-items: center;
  width: 1200px;
  height: 106px;
  flex-shrink: 0;
  border-radius: 14px;
  background: #f8f8f8;
}
#nav_logo1 {
  padding-left: 44px;
  padding-top: 21px;
  /* padding-bottom: 23px; */
  padding-right: 68px;
}
.nav_menu {
  display: flex;
  box-sizing: border-box;
  /* display: inline-flex; */
  width: 263px;
  height: 46px;
  padding: 10px 28px;
  /* align-items: flex-start; */
  border-radius: 33px;
  background: #fff;
  list-style: none;
  margin-right: 30px;
}

.navigation {
  display: flex;
  list-style: none;
  text-align: center;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
/* .navigation a {
    text-decoration: none;
    color: #bbb;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  } */

.b {
  text-decoration: none;
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
}
.c {
  text-decoration: none;
  color: #bbb;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  padding-left: 24px;
}
#search {
  display: flex;
  width: 242px;
  height: 46px;
  border-radius: 23px;
  background: #fff;
  margin-right: 13px;
  border: none;
}
input.search {
  background: url("../images/search.png") no-repeat center;
  background-size: 30px;
  width: 212px;
  height: 46px;
  border-radius: 23px;
  background: #fff;
  border: none;
}
#search > img {
  padding-top: 10px;
  padding-right: 14px;
}
input.imagebtn {
  background: url("../images/pic.png") no-repeat center;
  background-size: 30px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #fff;
  border: none;
  margin-right: 9px;
}
input.uploadbtn {
  background: url("../images/upload.png") no-repeat center;
  background-size: 30px;
  width: 46px;
  height: 46px;
  border-radius: 23px;
  background-color: #fff;
  border: none;
  margin-right: 72px;
}

/* 임시 로그인 버튼 */
#join {
  display: none;
  width: 109px;
  height: 46px;
}

#join + label {
  box-sizing: border-box;
  /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
  display: flex;
  /* 이 코드가 있어야 나란히 정렬 가능 */
  /* display: inline-block; */
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  width: 109px;
  height: 46px;
  background: #fff;
  padding: 10px 29px 10px 28px;
  /* line-height: 36px; */
  cursor: pointer;
  border-radius: 35px;
  /* 동작 천천히 보여주기 */
  transition: all 500ms ease-in;
}
/* 네비게이션바 끝 */

/* 시즌별 시작 */

#SeasonStoryfull {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 140px;
}

#SeasonStoryTitle {
  display: flex;
  /* 수직적으로 가운데 정렬 */
  /* align-items: center; */
  box-sizing: border-box;
  /* 요소가 여러 개일때 가운데 정렬 */
  width: 1220px;
  height: 90px;
  margin-bottom: 20px;
}

#seasonstorytitle_1 {
  display: flex;
  /* 수직적으로 가운데 정렬 */
  /* align-items: center; */
  box-sizing: border-box;
  /* 요소가 여러 개일때 가운데 정렬 */
  width: 1220px;
  height: 90px;
}

.seasonstoryimg {
  width: 90px;
  height: 90px;
  padding-left: 20px;
  padding-right: 16px;
}

.seasontitle1 {
  color: #000;
  font-family: "Noto Sans KR";
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  line-height: 90px;
  padding-left: 16px;
  color: #000;
  letter-spacing: -0.96px;
}

#button1spring {
  padding-left: 50px;
  border: none;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  cursor: pointer;
}

.button1spring.active {
  color: #000;
  text-decoration: underline;
}

#button2summer {
  padding-left: 20px;
  border: none;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  cursor: pointer;
}

.button2summer.active {
  color: #000;
  text-decoration: underline;
}

#button3autumn {
  padding-left: 20px;
  border: none;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  cursor: pointer;
}

.button3autumn.active {
  color: #000;
  text-decoration: underline;
}

#button4winter {
  padding-left: 20px;
  border: none;
  font-family: "Noto Sans KR";
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  background-color: #fff;
  cursor: pointer;
}

.button4winter.active {
  color: #000;
  text-decoration: underline;
}

.myButton {
  color: #909090;
  cursor: pointer;
  border: none;
}

.selected {
  color: #000;
}

#seasonstory_select {
  padding-left: 389px;
  padding-top: 31px;
}

#story_select {
  display: flex;
  width: 145px;
  height: 30px;
  padding: 4px 4px 4px 8px;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #ececec;
  background: #fff;
}

#back {
  width: 100%;
  max-width: 1240px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(285px, 1fr)
  ); /* Flexible grid with auto-fill */
  gap: 20px;
  justify-content: center;
}
.storyimage {
  width: 285px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 8px;
  background: #d9d9d9;
  margin-bottom: 8px;
  background-size: cover; /* 이미지를 컨테이너에 꽉 차게 함 */
  background-position: center; /* 중앙에 이미지를 위치시킴 */
  background-repeat: no-repeat;
  cursor: pointer;
  margin-bottom: 8px;
}
#storyTitlefull {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#storyTitle {
  color: #1d1d1d;
  font-family: "Noto Sans KR";
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}
.story {
  width: 100%; /* Full width within the grid column */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.stories {
  position: relative; /* Relative positioning for title placement */
  width: 285px;
  height: 235px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.story > a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.storyimage {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  border-radius: 8px;
  background-color: #d9d9d9; /* Default background if image fails to load */
}
.right-side {
  display: flex;
  align-items: center;
}
.seeimage {
  width: 16px;
  height: 16px;
  padding-top: 4px;
  padding-right: 2px;
}
.likeimage {
  width: 14px;
  height: 14px;
  padding-top: 5px;
  padding-right: 2px;
}
.imagetext {
  color: #666;
  font-family: "Noto Sans KR";
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.24px;
  padding-top: 2px;
  padding-right: 10px;
}

#morebtn {
  background: url("../images/morebtn.png");
  width: 128px;
  height: 48px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  margin-left: 556px;
}

/* 시즌별 끝 */

/* 나머지들 시작 */
#etc_thing {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
#etc_full {
  /* width: 1240px; */
  height: 20px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  display: flex;
  padding-top: 240px;
  padding-bottom: 43px;
}

.terms_of_use {
  font-size: 12px;
  font-style: normal;
  width: 42px;
  height: 14px;
  border: none;
  flex-shrink: 0;
  color: #7a7a7a;
  font-family: Pretendard;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
  /* padding-top: 10px; */
  margin-left: 79px;
}

#personal_inf {
  width: 83px;
  height: 15px;
  flex-shrink: 0;
  padding-left: 56px;
  /* padding-top: 10px; */
}

.personal_inf {
  font-style: normal;
  height: 14px;
  border: none;
  flex-shrink: 0;
  color: #7a7a7a;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
}

#contact {
  width: 36px;
  height: 15px;
  flex-shrink: 0;
  padding-left: 648px;
  /* padding-top: 10px; */
}

.contact {
  font-style: normal;
  width: 36px;
  height: 12px;
  border: none;
  flex-shrink: 0;
  color: #8f8f8f;
  font-family: Pretendard;
  font-size: 10px;
  font-weight: 400;
  line-height: normal;
  background-color: #fff;
}

#c_SoT {
  width: 60px;
  height: 15px;
  flex-shrink: 0;
  padding-left: 67px;
  /* padding-top: 10px; */
}

.c_SoT {
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #8f8f8f;
  font-family: Pretendard;
}

/* 홈화면 시즌별스토리 css */
#SeasonStoryfull1 {
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  padding-top: 120px;
}
#seasonback {
  width: 100%;
  max-width: 1240px;
  height: 603px;
  flex-shrink: 0;
  border-radius: 12px;
  background: #f8f8f8;
  padding: 20px;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(387px, 1fr)
  ); /* Flexible grid with auto-fill */
  gap: 20px;
  justify-content: center;
  margin-bottom: 20px;
}
.seasonstory {
  width: 100%; /* Full width within the grid column */
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.seasonstories {
  position: relative; /* Relative positioning for title placement */
  width: 387px;
  height: 272px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.seasonstory > a {
  display: block;
  text-decoration: none;
  color: inherit;
}
.seasonstoryimage {
  width: 100%;
  height: 272px;
  object-fit: cover; /* Ensures the image covers the container without stretching */
  border-radius: 8px;
  background-color: #d9d9d9; /* Default background if image fails to load */
}
