/* @import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap"); */
/* 공통적인 부분 */
* {
    /* All */
    margin: 0;
    padding: 0;
    font-family: Pretendard, "Noto Sans KR", sans-serif, "Noto Sans KR";
}

.scrollLock {
    overflow: hidden;
}

input::placeholder {
    color: #8e8e8e;
}

#Upload_pop_up::-webkit-scrollbar {
    width: 6px;
}

#Upload_pop_up::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: #e8e8e8;
}
#Upload_pop_up::-webkit-scrollbar-button {
    display: none;
}
.box {
    padding-left: 30px;
}
/* 공통적인 부분 */
#join {
    display: none;
    width: 109px;
    height: 46px;
}

#join + label {
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
    color: #000;
    font-family: "Noto Sans KR";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    width: 109px;
    height: 46px;
    background: #fff;
    padding: 10px 29px 10px 28px;
    /* line-height: 36px; */
    cursor: pointer;
    border-radius: 35px;
    /* 동작 천천히 보여주기 */
    transition: all 500ms ease-in;
}

/* 회원가입 창이 떴을 때 뒷배경 회색처리 */
.bg_gray {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

#join:checked + label + #bg_gray {
    display: block;
}


.container {
    width: 564px;
    height: 779px;
    margin: 2rem auto;
    border-radius: 12px;
    background-color: #FFF;
    margin-top: 60px;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.story-details {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: 2rem;
}

.story_main{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
}

.story-image {
    width: 524px;
    height: 368px;
    border-radius: 6px;
    flex-shrink: 0;
}

.Story_Image{
    margin-top: 20px;
    margin-left: 20px;
    width: 524px;
    height: 368px;
    flex-shrink: 0;
    border-radius: 6px;
    display: block;
    background: url(<path-to-image>) lightgray 50% / cover no-repeat;
}

.Story_date{
    position: relative;
    bottom: 350px;
    left: 448px;
    width: 78px;
    height: 28px;
    display: inline-flex;
    padding-top: 10px;
    color: #F6F6F6;
    font-family: Pretendard;
    font-style: normal;
    line-height: 16px;
    justify-content: center;
    background: rgba(0, 0, 0, 0.75);
    border-radius: 4px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(1px);
    font-size: 14px;
}

#story-text{
    position: absolute;
    margin-left: 24px;
    margin-top: 400px;
}

.Detail_name{
    color: #000;
    font-family: Pretendard;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 36px; /* 120% */
}

#story_{
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
}

.Detail_address{
    color: #767676;
    font-family: Pretendard;
    margin-top: 4px;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.Story_map{
    border: none;
    background-color: #fff;
    color: #9D9D9D;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3px;
    margin-left: 5px;
    cursor: pointer;
}

.Detail_text{
    color: #111;
    font-family: Pretendard;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 22px;
}

#del_to_book{
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
    position: absolute;
    margin-left:416px;
    margin-top: 402px;
}

.Story_del{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    border-radius: 12px;
    border: none;
    background: url("../images/deletebtn.png");
    cursor: pointer;
}

.Story_like{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-left: 8px;
    border-radius: 12px;
    border: none;
    background: url("../images/StoryDetailbtn1.png");
    cursor: pointer;
}

.Story_book{
    width: 36px;
    height: 36px;
    flex-shrink: 0;
    margin-left: 8px;
    border-radius: 12px;
    border: none;
    background: url("../images/StoryDetailbtn2.png");
    cursor: pointer;
}

#tag{
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
    position: absolute;
    margin-left: 24px;
    margin-top: 503px;
    padding-top: 6px;
}

.tag1{
    width: 49px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #F4F4F4;
    background: #FFF;
    margin-right: 8px;
}

.tag1_text{
    color: #767676;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    letter-spacing: -0.26px;
}

.tag2{
    width: 49px;
    height: 24px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #F4F4F4;
    background: #FFF;
}

.tag2_text{
    color: #767676;
    font-family: Pretendard;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 18.2px */
    letter-spacing: -0.26px;
}

#profile{
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
    position: absolute;
    margin-left: 24px;
    margin-top: 560px;
    width: 200px;
}

.Profile_Image{
    width: 42px;
    height: 42px;
    flex-shrink: 0;
}

.profile_text{
    position: absolute;
    margin-left: 55px;
    margin-top: 4px;
}

.profile_name{
    color: #555;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profile_follow{
    color: #555;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 2px;
}

.Detail_line{
    position: absolute;
    margin-left: 20px;
    margin-top: 620px;
}

#Related_Story{
    position: absolute;
    margin-right: 4px;
    margin-top: 18px;
}

#Related{
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    position: relative;
}


.Related_Title{
    color: #3D3D3D;
    font-family: Pretendard;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 24px;
    margin-top: 625px;
}

.Story_more{
    width: 38px;
    height: 17px;
    flex-shrink: 0;
    color: #767676;
    font-family: Pretendard;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 19.6px */
    border: none;
    background-color: #fff;
    margin-top: 625px;
    margin-left: 8px;
    cursor: pointer;
}

#Related_Img{
    box-sizing: border-box;
    /* 이 코드가 있어야 내가 원하는 높이 안에 padding값과 컨텐츠들을 넣을 수 있다. */
    display: flex;
    /* 이 코드가 있어야 나란히 정렬 가능 */
    /* display: inline-block; */
    position: absolute;
    padding-top: 10px;
}

.Related_Image1{
    padding-left: 20px;
    width: 126px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
}

.Related_Image2{
    padding-left: 9px;
    width: 126px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
}

.Related_Image3{
    padding-left: 9px;
    width: 126px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
}

.Related_Image4{
    padding-left: 9px;
    width: 126px;
    height: 95px;
    flex-shrink: 0;
    border-radius: 6px;
    cursor: pointer;
}

#MoreRelatedbtn{
    width: 20.254px;
    height: 20.254px;
    flex-shrink: 0;
    background: url("../images/imgmorebtn.png");
    cursor: pointer;
}