<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/BestStoryDetailPage.css}" />
    <link rel="stylesheet" th:href="@{/css/Home.css}">
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>SoT</title>
  </head>
  <body>

  <nav class="navbar">
    <div class="nav_logo">
      <div id="nav_left">
        <div id="nav_logo1">
          <a href="./test">
            <img th:src="@{/images/MainLogo.png}" alt="로고" width="200px" height="46px">
          </a>
        </div>
        <div class="nav_menu">
          <ul class="navigation">
            <li><a href="./test" class="b">홈</a></li>
            <li><a href="" class="c">지역</a></li>
            <li><a href="" class="c">북마크</a></li>
          </ul>
        </div>
        <form action="/search" method="get" id="search">
          <input type="text" name="query" class="search">
          <img th:src="@{/images/search.png}" alt="돋보기" width="30px" height="30px">
        </form>
      </div>
      <div id="nav_right">
        <input type="button" id="uploadbtn">
        <input type="button" class="imagebtn" onclick="location.href='my-page'">
        <input type="checkbox" id="join" style="display: none;">
        <label for="join" id="loginLabel" onclick="togglePopup('loginPopup')">로그인</label>
        <form action="/logout" method="post" style="display:inline;">
          <button type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </nav>

  <!-- 팝업창들 -->
  <div th:replace="fragments/upload_popup :: uploadPopup"></div>
  <div th:replace="fragments/login_popup :: loginPopup"></div>
  <div th:replace="fragments/join_popup :: joinPopup"></div>
  <div th:replace="fragments/terms_popup :: termsPopup"></div>
  <div th:replace="fragments/privacy_popup :: privacyPopup"></div>

    <!-- 베스트 상세페이지 스토리 시작 -->
    <div id="bestStoryfull">
      <div id="bestStory">
        <div id="bestStoryTitle">
          <div id="best_title">
            <img th:src="@{images/bestimg.png}" class="bestimg" />
            <div id="best_text">
              <p class="best">Best Story</p>
              <p class="best_1">
                다른 사용자가 포스팅한 베스트 스토리들을 구경해보세요
              </p>
            </div>
          </div>
        </div>
        <div id="back">
          <div class="stories" th:each="story, iterStat : ${stories}">
            <div class="story">
              <a th:href="@{/story/{storyId}(storyId=${story.storyId})}">
                <img
                  id="storyimage"
                  th:src="${story.image_url}"
                  alt="Story Image"
                />
                <div id="storyTitlefull">
                  <p id="storyTitle" th:text="${story.title}">Story Title</p>
                  <div class="right-side">
                    <img
                      th:src="@{/images/seeimg.png}"
                      class="seeimage"
                      width="16px"
                      height="16px"
                    />
                    <p class="imagetext" th:text="${story.viewCount}">0</p>
                    <img
                      th:src="@{/images/likeimg.png}"
                      class="likeimage"
                      width="14px"
                      height="14px"
                    />
                    <p class="imagetext" th:text="${story.likes.size()}">0</p>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div>
          <label for="bestmorebtn">
            <button
              type="button"
              id="bestmorebtn"
              th:if="${limit < 72}"
              th:onclick="|location.href='@{/best(limit=${limit + 24})}';|"
            ></button>
          </label>
        </div>
      </div>
    </div>
    <!-- 테마별 상세페이지 스토리 끝 -->
  </body>
  <script th:src="@{/js/ThemeDetailPage.js}"></script>
  <script th:src="@{/js/Home.js}"></script>
</html>
