<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/BookmarkPage.css}" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
            rel="stylesheet"
    />
    <title>SoT</title>
</head>
<body>
<nav class="navbar">
    <div class="nav_logo">
        <div id="nav_logo1">
            <img
                    th:src="@{/images/MainLogo.png}"
                    alt="로고"
                    width="225px"
                    height="60px"
            />
        </div>
        <div class="nav_menu">
            <ul class="navigation">
                <li><a href="Home.html" class="b">홈</a></li>
                <li><a href="#" class="c">지역</a></li>
                <li><a href="#" class="c">지도</a></li>
                <li><a href="#" class="c">북마크</a></li>
            </ul>
        </div>

        <div id="search">
            <input type="text" class="search" />
            <img
                    th:src="@{/images/search.png}"
                    alt="돋보기"
                    width="30px"
                    height="30px"
            />
        </div>
        <input type="button" class="imagebtn" />
        <input type="button" class="uploadbtn" />
        <input type="checkbox" id="join" />
        <label for="join">로그인</label>
    </div>
</nav>

<!--  북마크 시작 -->

<div id="Bookmarkfull">
    <div id="BookmarkStory">
        <div id="BookmarkTitle">
            <div id="Bookmarktitle_1">
                <img
                        th:src="@{/images/Bookmarkimg.png}"
                        class="Bookmarkimg"
                        width="90px"
                        height="90px"
                />
                <p class="Bookmarktitle1">북마크</p>
            </div>
        </div>
        <div id="BookmarkBack">
            <label for="Bookmark">
                <button
                        type="button"
                        id="Bookmark"
                        onclick="location.href='./bookmarkpage.html';"
                ></button>
            </label>

        </div>
        <div>
            <label for="Bookmarkmorebtn">
                <button
                        type="button"
                        id="Bookmarkmorebtn"
                        onclick="location.href='';"
                ></button>
            </label>
        </div>
    </div>
</div>
<!-- 북마크 페이지 끝 -->
<!-- 나머지들 -->
<div id="etc_thing">
    <div id="etc_full">
        <div id="terms_of_use">
            <button
                    type="button"
                    value="이용약관"
                    class="terms_of_use"
                    th:onclick="|location.href='@{/terms_of_use}';|"
            >
                이용약관
            </button>
        </div>
        <div id="personal_inf">
            <button
                    type="button"
                    value="개인정보처리방침"
                    class="personal_inf"
                    th:onclick="|location.href='@{/personal_inf}';|"
            >
                개인정보처리방침
            </button>
        </div>
        <div id="contact">
            <button
                    type="button"
                    value="Contact"
                    class="contact"
                    th:onclick="|location.href='@{/contact}';|"
            >
                Contact
            </button>
        </div>
        <div id="c_SoT">
            <p class="c_SoT">ⓒ 2024 SoT</p>
        </div>
    </div>
</div>
</body>
</html>