<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Local Detail Page</title>
  <link rel="stylesheet" th:href="@{/css/localDetailPage.css}">
</head>
<body>

<!-- 스토리 그룹 정보 표시 -->
<div>
  <h1 th:text="${storyGroup.groupName}"></h1>
  <h2 th:text="${storyGroup.groupNameEn}"></h2>
  <div>
    <img th:src="@{${storyGroup.groupImage}}"/>
  </div>
</div>

<!-- 각 스토리 정보 표시 -->
<div th:each="story : ${stories}">
  <h2 th:text="${story.title}">스토리 제목</h2>
  <img th:src="@{${story.image_url}}" alt="스토리 이미지" />
  <p th:text="'조회수: ' + ${story.viewCount}">조회수</p>
  <p th:text="'좋아요 수: ' + ${story.likesCount}">좋아요 수</p>
</div>

</body>
</html>
