<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/RiseDetailPage.css}" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
            rel="stylesheet"
    />
    <title>SoT</title>
    <style>
        .story-row {
            display: flex;
            flex-wrap: wrap;
        }
        .story {
            flex: 1 1 25%;
            box-sizing: border-box;
            padding: 10px;
        }
        .story img {
            width: 100%;
            height: auto;
        }
        .story p {
            margin: 0;
        }
        .story .info {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
    </style>
</head>
<body>
<nav class="navbar">
    <div class="nav_logo">
        <div id="nav_logo1">
            <a href="./test">
                <img
                        th:src="@{/images/MainLogo.png}"
                        alt="로고"
                        width="225px"
                        height="60px"
                />
            </a>
        </div>
        <div class="nav_menu">
            <ul class="navigation">
                <li><a href="./test" class="b">홈</a></li>
                <li><a href="" class="c">지역</a></li>
                <li><a href="" class="c">지도</a></li>
                <li><a href="" class="c">북마크</a></li>
            </ul>
        </div>

        <div id="search">
            <input type="text" class="search" />
            <img
                    th:src="@{/images/search.png}"
                    alt="돋보기"
                    width="30px"
                    height="30px"
            />
        </div>
        <input type="button" class="imagebtn" />
        <input type="button" class="uploadbtn" />
        <input type="checkbox" id="join" />
        <label for="join">로그인</label>
    </div>
</nav>

<!-- 급상승 시작 -->

<div id="Risefull">
    <div id="RiseStory">
        <div id="RiseTitle">
            <div id="RiseTitle_1">
                <img
                        th:src="@{/images/riseimg.png}"
                        class="risestoryimg"
                        width="90px"
                        height="90px"
                />
                <p class="RiseTitle1">급상승! 최근 다른 사용자들이 많이 찾아보는 여행지에요</p>
            </div>
        </div>
        <div id="RiseStoryBack">
            <div id="RiseMainIMG">
                <img
                        th:src="@{/images/RiseMain.png}"
                        class="risemainimg"
                        width="1200px"
                        height="352px"
                />
            </div>
            <div id="RiseStorySet">
                <p class="RiseStoryNum">1,223개의 스토리</p>
                <div id="RiseStoryList">
                    <form action="#">
                        <select name="story_select" id="story_select">
                            <option value="recom" class="recom_select">추천순</option>
                            <option value="newest" class="newest_select">최신순</option>
                            <option value="inquiry" class="inquiry_select">조회순</option>
                            <option value="month" class="month_select">이번 달 조회순</option>
                            <option value="today" class="today_select">오늘 조회순</option>
                        </select>
                    </form>
                </div>
            </div>

            <div class="story-row">
                <div th:each="story, iterStat : ${stories}">
                    <div class="story">
                        <a th:href="@{/story/{storyId}(storyId=${story.storyId})}">
                            <img th:src="${story.image_url}" alt="Story Image" />
                            <div>
                                <p th:text="${story.title}"></p>
                                <div class="info">
                                    <div>
                                        <img th:src="@{/images/seeimg.png}" class="seeimage" width="16px" height="16px" />
                                        <p class="imagetext" th:text="${story.viewCount}">0</p>
                                    </div>
                                    <div>
                                        <img th:src="@{/images/likeimg.png}" class="likeimage" width="14px" height="14px" />
                                        <p class="imagetext" th:text="${story.likes.size()}">0</p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div>
                <label for="risemorebtn">
                    <button
                            type="button"
                            id="risemorebtn"
                            onclick="location.href='';"
                    ></button>
                </label>
            </div>

            <img th:src="@{images/riseline.png}" class="riseline" />
            <p class="otherrise">다른 급상승 여행지 둘러보기</p>
            <div id="otherStory">
                <button
                        type="button"
                        id="otherrisebtn1"
                        onclick="location.href='';"
                ></button>

                <button
                        type="button"
                        id="otherrisebtn2"
                        onclick="location.href='';"
                ></button>

                <button
                        type="button"
                        id="otherrisebtn3"
                        onclick="location.href='';"
                ></button>

                <button
                        type="button"
                        id="otherrisebtn4"
                        onclick="location.href='';"
                ></button>

                <button
                        type="button"
                        id="otherrisebtn5"
                        onclick="location.href='';"
                ></button>

                <button
                        type="button"
                        id="otherrisebtn6"
                        onclick="location.href='';"
                ></button><button
                    type="button"
                    id="otherrisebtn7"
                    onclick="location.href='';"
            ></button>
            </div>
        </div>
    </div>
</div>
</body>
</html>
