<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" th:href="@{/css/Searchresult.css}" />
    <link rel="stylesheet" th:href="@{/css/nav.css}" />
    <link rel="stylesheet" th:href="@{/css/footer.css}" />
    <link rel="stylesheet" th:href="@{/css/Home.css}" />
    <link rel="stylesheet" th:href="@{/css/storyPopup.css}" />
    <link
      rel="stylesheet"
      type="text/css"
      th:href="@{https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css}"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>SoT</title>
  </head>
  <body>
  <!-- 내비게이션바 -->
  <nav class="navbar">
    <div class="nav_logo">
      <div id="nav_left">
        <!-- 로고 -->
        <div id="nav_logo1">
          <a href="/home">
            <img
                    th:src="@{/images/MainLogo.png}"
                    alt="로고"
                    width="200px"
                    height="46px"
            />
          </a>
        </div>
        <!-- 메뉴바 -->
        <div class="nav_menu">
          <ul class="navigation">
            <li>
              <a href="/home" class="b">홈</a>
            </li>
            <li><a href="/local" class="c">지역</a></li>
            <li><a href="/popular" class="d">인기 작가</a></li>
          </ul>
        </div>
        <!-- 검색바 -->
        <form action="/search" method="get" id="search">
          <input type="text" name="query" class="search" />
          <button
                  type="submit"
                  id="searchBtn"
                  style="background: none; border: none"
          >
            <img
                    th:src="@{/images/search.png}"
                    alt="돋보기"
                    id="searchIcon"
                    width="30px"
                    height="30px"
            />
          </button>
        </form>
      </div>
      <div id="nav_right">
        <input
                type="button"
                class="followingbtn"
                style="display: none"
                onclick="location.href='/follows'"
        />
        <input
                type="button"
                class="imagebtn"
                style="display: none"
                onclick="location.href='/bookmark'"
        />
        <input type="button" id="uploadbtn" style="display: none" />

        <input type="checkbox" id="join" style="display: none" />
        <label for="join" id="loginLabel">로그인</label>
        <!-- 드롭다운 메뉴 -->
        <div id="dropdownMenu" class="dropdown-content" style="display: none">
          <button onclick="location.href='/my-page'">마이페이지</button>
          <button
                  onclick="document.getElementById('bg_gray11').style.display='block';"
          >
            비밀번호 변경
          </button>
          <form action="/logout" method="post">
            <button type="submit">로그아웃</button>
          </form>
        </div>
      </div>
    </div>
  </nav>

  <!-- 팝업창들 -->
  <div th:replace="~{fragments/upload_popup :: uploadPopup}"></div>
  <div th:replace="~{fragments/login_popup :: loginPopup}"></div>
  <div th:replace="~{fragments/join_popup :: joinPopup}"></div>
  <div th:replace="~{fragments/terms_popup :: termsPopup}"></div>
  <div th:replace="~{fragments/privacy_popup :: privacyPopup}"></div>
  <div th:replace="~{fragments/emailfind_popup :: emailFindPopup}"></div>
  <div th:replace="~{fragments/emailcheck_popup :: emailCheckPopup}"></div>
  <div th:replace="~{fragments/joinfinish_popup :: joinFinishPopup}"></div>
  <div th:replace="~{fragments/privacy_footer_popup :: privacy_footer}"></div>
  <div th:replace="~{fragments/terms_footer_popup :: terms_footer}"></div>
  <div th:replace="~{fragments/pwfind_popup :: pwFindPopup}"></div>
  <div th:replace="~{fragments/changepw_popup :: changePwPopup}"></div>
  <div th:replace="~{fragments/storyPopup.html}"></div>
  <div
          th:replace="~{fragments/pwfindsendnotice_popup :: pwFindSendNoticePopup}"
  ></div>
    <!-- 베스트 상세페이지 스토리 시작 -->
    <div id="searchresultfull">
      <div id="searchresult">
        <div id="searchresultTitle">
          <div id="searchresult_title">
            <img th:src="@{/images/searchresult.png}" class="searchresult" />
            <div id="searchresult_text">
              <p class="searchresult" th:text="'‘' + ${query} + '’ 검색결과'">‘검색어’ 검색결과</p>
              <p class="searchresult_1" th:text="${resultCount} + '개의 검색결과'">0개의 검색결과</p>
            </div>
          </div>
        </div>
        <div id="back">
          <div class="stories" th:each="story, iterStat : ${stories}">
            <div class="story" th:onclick="'showStoryPopup(' + ${story.storyId} + ')'">
                <img
                  id="storyimage"
                  th:src="${story.image_url}"
                  alt="Story Image"
                />
                <div id="storyTitlefull">
                  <p id="storyTitle" th:text="${story.title}">Story Title</p>
                  <div class="right-side">
                    <img
                      th:src="@{/images/seeimg.png}"
                      class="seeimage"
                      width="16px"
                      height="16px"
                    />
                    <p class="imagetext" th:text="${story.viewCount}">0</p>
                    <img
                      th:src="@{/images/likeimg.png}"
                      class="likeimage"
                      width="14px"
                      height="14px"
                    />
                    <p class="imagetext" th:text="${story.likes.size()}">0</p>
                  </div>
                </div>
            </div>
          </div>
        </div>
        <div>
          <label for="searchresultmorebtn">
            <button type="button" id="searchresultmorebtn"
                    th:if="${limit < resultCount}"
                    th:onclick="|location.href='@{/search(query=${query}, limit=${limit + 24})}';|"></button>
          </label>
        </div>
      </div>
    </div>
    <!-- 검색 결과 페이지 끝 -->
  <!-- 푸터 -->
  <div id="Footer">
    <button class="footer_1" onclick="showPopup('bg_gray33')">개인정보처리방침</button>
    <button class="footer_2" onclick="showPopup('bg_gray44')">이용약관</button>
    <p class="email">Contact. Story.of.Travel.official@gmail.com</p>
    <p class="SoT_2024">© 2024 SoT. All rights reserved.</p>
  </div>
  <!-- 푸터 끝 -->
  </body>
  <script>
    window.addEventListener('scroll', () => {
      localStorage.setItem('scrollPosition', window.scrollY);
    });

    window.addEventListener('load', () => {
      const scrollPosition = localStorage.getItem('scrollPosition');
      if (scrollPosition) {
        window.scrollTo(0, parseInt(scrollPosition, 10));
      }
    });
  </script>

  <script th:src="@{/js/Home.js}"></script>
  <script th:src="@{/js/StoryPopup.js}"></script>
  <script th:src="@{/js/upload.js}"></script>
</html>
