<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="../static/css/StoryDetail.css" />
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
          rel="stylesheet"
  />
  <title>게시물 상세페이지</title>
</head>
<body>
<div class="bg_gray">
  <div class="container">
    <div class="story-details">
      <div class="story_main">
        <img src="../static/images/StoryDetail.png" class="Story_Image">
        <p class="Story_date">23년 5월</p>
      </div>
      <div id="story-text">
        <p class="Detail_name">서울 봉은사</p>
        <div id="story_">
          <p class="Detail_address">서울특별시 강남구 봉은사로 531</p>
          <button
                  type="button"
                  class="Story_map"
          >지도보기</button>
        </div>
        <p class="Detail_text">23년 5월 부처님오신날 진행했던 연등축제입니다.</p>
      </div>
      <div id="del_to_book">
        <button
                type="button"
                class="Story_del"
        ></button>
        <button
                type="button"
                class="Story_like"
        ></button>
        <button
                type="button"
                class="Story_book"
        ></button>
      </div>
      <div id="tag">
        <div class="tag1">
          <p class="tag1_text"># 축제</p>
        </div>
        <div class="tag2">
          <p class="tag2_text"># 연등</p>
        </div>
      </div>
      <div id="profile">
        <div class="porfile_image">
          <img src="../static/images/popular3.png" class="Profile_Image">
        </div>
        <div class="profile_text">
          <p class="profile_name">Olivia2</p>
          <p class="profile_follow">팔로워 202명</p>
        </div>
      </div>
      <img src="../static/images/Detailline.png" class="Detail_line">
      <div id="Related_Story">
        <div id="Related">
          <p class="Related_Title">'서울 봉은사' 관련 스토리</p>
          <button
                  type="button"
                  class="Story_more"
          >더보기</button>
        </div>
        <div id="Related_Img">
          <img src="../static/images/Related1.png" class="Related_Image1">
          <img src="../static/images/Related2.png" class="Related_Image2">
          <img src="../static/images/Related3.png" class="Related_Image3">
          <img src="../static/images/Related4.png" class="Related_Image4">
        </div>
        <button
                type="button"
                class="MoreRelatedbtn"
        ></button>
      </div>
    </div>
  </div>
</div>
</div>
</body>