<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/ThemeDetailPage.css}" />
  <link rel="stylesheet" th:href="@{/css/nav.css}" />
  <link rel="stylesheet" th:href="@{/css/footer.css}" />
  <link rel="stylesheet" th:href="@{/css/Home.css}" />
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
          rel="stylesheet"
  />
  <title>SoT</title>
</head>
<body>
<!-- 내비게이션바 -->
<nav class="navbar">
  <div class="nav_logo">
    <div id="nav_left">
      <!-- 로고 -->
      <div id="nav_logo1">
        <a href="./home">
          <img
                  th:src="@{/images/MainLogo.png}"
                  alt="로고"
                  width="200px"
                  height="46px"
          />
        </a>
      </div>
      <!-- 메뉴바 -->
      <div class="nav_menu">
        <ul class="navigation">
          <li>
            <a href="/home" class="b">홈</a>
          </li>
          <li><a href="/local" class="c">지역</a></li>
          <li><a href="/popular" class="d">인기 작가</a></li>
        </ul>
      </div>
      <!-- 검색바 -->
      <form action="/search" method="get" id="search">
        <input type="text" name="query" class="search" />
        <button
                type="submit"
                id="searchBtn"
                style="background: none; border: none"
        >
          <img
                  th:src="@{/images/search.png}"
                  alt="돋보기"
                  id="searchIcon"
                  width="30px"
                  height="30px"
          />
        </button>
      </form>
    </div>
    <div id="nav_right">
      <input
              type="button"
              class="followingbtn"
              style="display: none"
              onclick="location.href='/follows'"
      />
      <input
              type="button"
              class="imagebtn"
              style="display: none"
              onclick="location.href='/bookmark'"
      />
      <input type="button" id="uploadbtn" style="display: none" />

      <input type="checkbox" id="join" style="display: none" />
      <label for="join" id="loginLabel">로그인</label>
      <!-- 드롭다운 메뉴 -->
      <div id="dropdownMenu" class="dropdown-content" style="display: none">
        <button onclick="location.href='/my-page'">마이페이지</button>
        <button
                onclick="document.getElementById('bg_gray11').style.display='block';"
        >
          비밀번호 변경
        </button>
        <form action="/logout" method="post">
          <button type="submit">로그아웃</button>
        </form>
      </div>
    </div>
  </div>
</nav>

<!-- 팝업창들 -->
<div th:replace="~{fragments/upload_popup :: uploadPopup}"></div>
<div th:replace="~{fragments/login_popup :: loginPopup}"></div>
<div th:replace="~{fragments/join_popup :: joinPopup}"></div>
<div th:replace="~{fragments/terms_popup :: termsPopup}"></div>
<div th:replace="~{fragments/privacy_popup :: privacyPopup}"></div>
<div th:replace="~{fragments/emailfind_popup :: emailFindPopup}"></div>
<div th:replace="~{fragments/emailcheck_popup :: emailCheckPopup}"></div>
<div th:replace="~{fragments/joinfinish_popup :: joinFinishPopup}"></div>
<div th:replace="~{fragments/privacy_footer_popup :: privacy_footer}"></div>
<div th:replace="~{fragments/terms_footer_popup :: terms_footer}"></div>
<div th:replace="~{fragments/pwfind_popup :: pwFindPopup}"></div>
<div th:replace="~{fragments/changepw_popup :: changePwPopup}"></div>
<div
        th:replace="~{fragments/pwfindsendnotice_popup :: pwFindSendNoticePopup}"
></div>
<!--  테마별 여행지 시작 -->
<div id="theme_full">
  <div id="theme">
    <div id="theme_title">
      <img th:src="@{/images/themeimg.png}" class="themeimg" />
      <p class="theme">테마별 여행지</p>
    </div>

    <div class="themeback">
      <div id="theme_container">
        <button type="button" id="theme1" onclick="executeBothFunctions(1)">
          <p id="text_theme1">자연 속 여행</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck1"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage1"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme2" onclick="executeBothFunctions(2)">
          <p id="text_theme2">역사와 문화</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck2"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage2"
                  th:src="@{/images/theme_overlay2.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme3" onclick="executeBothFunctions(3)">
          <p id="text_theme3">식도락 여행</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck3"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage3"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme4" onclick="executeBothFunctions(4)">
          <p id="text_theme4">축제</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck4"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage4"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme5" onclick="executeBothFunctions(5)">
          <p id="text_theme5">예술 및 체험</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck5"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage5"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme6" onclick="executeBothFunctions(6)">
          <p id="text_theme6">산악 여행</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck6"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage6"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme7" onclick="executeBothFunctions(7)">
          <p id="text_theme7">도심속 여행</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck7"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage7"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme8" onclick="executeBothFunctions(8)">
          <p id="text_theme8">바다와 해변</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck8"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage8"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>

      <div id="theme_container">
        <button type="button" id="theme9" onclick="executeBothFunctions(9)">
          <p id="text_theme9">테마파크</p>
          <img
                  th:src="@{/images/theme_check.png}"
                  id="themecheck9"
                  alt="체크"
                  width="24px"
                  height="24px"
                  style="display: none"
          />
          <img
                  id="overlayImage9"
                  th:src="@{/images/theme_overlay.png}"
                  alt="오버레이 이미지"
          />
        </button>
      </div>
    </div>
  </div>
</div>
<!--  테마별 여행지 끝 -->

<!-- 테마별 상세페이지 스토리 시작 -->
<div id="themeStoryfull">
  <div id="themeStory">
    <div id="themeStoryTitle">
      <div id="themestorytitle_1">
        <img
                th:src="@{/images/theme_story.png}"
                class="themestoryimg"
                width="90px"
                height="90px"
        />
        <p class="themetitle1">스토리</p>
      </div>
      <div id="themestory_select">
        <form id="sortForm" action="#" method="get">
          <select
                  name="sort"
                  id="story_select"
                  onchange="submitSortForm()"
          >
            <option value="" class="select_disabled" disabled selected>
              정렬기준
            </option>
            <option value="likes" th:selected="${sortCriteria == 'likes'}">
              추천순
            </option>
            <option value="recent" th:selected="${sortCriteria == 'recent'}">
              최신순
            </option>
            <option value="views" th:selected="${sortCriteria == 'views'}">
              조회순
            </option>
          </select>
          <input type="hidden" id="hiddenThemes" name="themes">
          <input type="hidden" id="hiddenOverlays" name="overlays">
        </form>
      </div>
    </div>

    <div id="back1">
      <div class="stories" th:each="story, iterStat : ${stories}">
        <div class="story">
          <a th:href="@{/story/{storyId}(storyId=${story.storyId})}">
            <img
                    id="storyimage"
                    th:src="${story.image_url}"
                    alt="Story Image"
            />
            <div id="storyTitlefull">
              <p id="storyTitle" th:text="${story.title}">Story Title</p>
              <div class="right-side">
                <img
                        th:src="@{/images/seeimg.png}"
                        class="seeimage"
                        width="16px"
                        height="16px"
                />
                <p class="imagetext" th:text="${story.viewCount}">0</p>
                <img
                        th:src="@{/images/likeimg.png}"
                        class="likeimage"
                        width="14px"
                        height="14px"
                />
                <p class="imagetext" th:text="${story.likes.size()}">0</p>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- 테마별 상세페이지 스토리 끝 -->

<!-- 푸터 -->
<div id="Footer">
  <button class="footer_1" onclick="showPopup('bg_gray33')">개인정보처리방침</button>
  <button class="footer_2" onclick="showPopup('bg_gray44')">이용약관</button>
  <p class="email">Contact. Story.of.Travel.official@gmail.com</p>
  <p class="SoT_2024">© 2024 SoT. All rights reserved.</p>
</div>
<!-- 푸터 끝 -->
</body>

<script th:src="@{/js/ThemeDetailPage.js}"></script>
<script th:src="@{/js/Home.js}"></script>
<script th:src="@{/js/upload.js}"></script>
</html>
