<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" th:href="@{/css/ThemeDetailPage.css}" />
  <link
          rel="stylesheet"
          type="text/css"
          href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
  />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link
          href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
          rel="stylesheet"
  />
  <title>SoT</title>
</head>
<body>
<nav class="navbar">
  <div class="nav_logo">
    <div id="nav_left">
      <div id="nav_logo1">
        <a th:href="@{/test}">
          <img
                  th:src="@{/images/MainLogo.png}"
                  alt="로고"
                  width="200px"
                  height="46px"
          />
        </a>
      </div>
      <div class="nav_menu">
        <ul class="navigation">
          <li><a th:href="@{/test}" class="b">홈</a></li>
          <li><a href="#" class="c">지역</a></li>
          <li><a href="#" class="c">북마크</a></li>
        </ul>
      </div>

      <form action="/search" method="get" id="search">
        <input type="text" name="query" class="search" />
        <img
                th:src="@{/images/search.png}"
                alt="돋보기"
                width="30px"
                height="30px"
        />
      </form>
    </div>
    <div id="nav_right">
      <input type="button" id="uploadbtn" />
      <input
              type="button"
              class="imagebtn"
              onclick="location.href='my-page' "
      />
      <input type="checkbox" id="join" />
      <label for="join">로그인</label>
    </div>
  </div>
</nav>

<!--  테마별 여행지 시작 -->
<div id="theme_full">
  <div id="theme">
    <div id="theme_title">
      <img th:src="@{/images/themeimg.png}" class="themeimg" />
      <p class="theme">테마별 여행지</p>
    </div>

    <div class="themeback">
      <div id="theme_container">
        <label for="theme1">
          <button
                  type="button"
                  id="theme1"
                  onclick="toggleImageAndCheck(1)"
          >
            <p id="text_theme1">
              자연 속 여행
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck1"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>

            <img
                    id="overlayImage1"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme2">
          <button
                  type="button"
                  id="theme2"
                  onclick="toggleImageAndCheck(2)"
          >
            <p id="text_theme2">
              역사와 문화
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck2"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage2"
                    th:src="@{/images/theme_overlay2.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme3">
          <button
                  type="button"
                  id="theme3"
                  onclick="toggleImageAndCheck(3)"
          >
            <p id="text_theme3">
              식도락 여행
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck3"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage3"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme4">
          <button
                  type="button"
                  id="theme4"
                  onclick="toggleImageAndCheck(4)"
          >
            <p id="text_theme4">
              축제
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck4"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage4"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme5">
          <button
                  type="button"
                  id="theme5"
                  onclick="toggleImageAndCheck(5)"
          >
            <p id="text_theme5">
              예술 및 체험
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck5"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage5"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme6">
          <button
                  type="button"
                  id="theme6"
                  onclick="toggleImageAndCheck(6)"
          >
            <p id="text_theme6">
              산악 여행
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck6"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage6"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme7">
          <button
                  type="button"
                  id="theme7"
                  onclick="toggleImageAndCheck(7)"
          >
            <p id="text_theme7">
              도심속 여행
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck7"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage7"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme8">
          <button
                  type="button"
                  id="theme8"
                  onclick="toggleImageAndCheck(8)"
          >
            <p id="text_theme8">
              바다와 해변
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck8"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage8"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>

      <div id="theme_container">
        <label for="theme9">
          <button
                  type="button"
                  id="theme9"
                  onclick="toggleImageAndCheck(9)"
          >
            <p id="text_theme9">
              테마파크
              <img
                      th:src="@{/images/theme_checked.png}"
                      id="themecheck9"
                      alt="체크"
                      width="24px"
                      height="24px"
              />
            </p>
            <img
                    id="overlayImage9"
                    th:src="@{/images/theme_overlay.png}"
                    alt="오버레이 이미지"
            />
          </button>
        </label>
      </div>
    </div>
  </div>
</div>
<!--  테마별 여행지 끝 -->

<!-- 테마별 상세페이지 스토리 시작 -->
<div id="themeStoryfull">
  <div id="themeStory">
    <div id="themeStoryTitle">
      <div id="themestorytitle_1">
        <img
                th:src="@{/images/theme_story.png}"
                class="themestoryimg"
                width="90px"
                height="90px"
        />
        <p class="themetitle1">스토리</p>
      </div>
      <div id="themestory_select">
        <form action="#">
          <select name="story_select" id="story_select">
            <option value="recom" class="recom_select">추천순</option>
            <option value="newest" class="newest_select">최신순</option>
            <option value="inquiry" class="inquiry_select">조회순</option>
            <option value="month" class="month_select">이번 달 조회순</option>
            <option value="today" class="today_select">오늘 조회순</option>
          </select>
        </form>
      </div>
    </div>

    <div id="back">
      <div class="stories" th:each="story, iterStat : ${stories}">
        <div class="story">
          <a th:href="@{/story/{storyId}(storyId=${story.storyId})}">
            <img
                    id="storyimage"
                    th:src="${story.image_url}"
                    alt="Story Image"
            />
            <div id="storyTitlefull">
              <p id="storyTitle" th:text="${story.title}">Story Title</p>
              <img
                      th:src="@{/images/seeimg.png}"
                      class="seeimage"
                      width="16px"
                      height="16px"
              />
              <p class="seeimagetext" th:text="${story.viewCount}">0</p>
              <img
                      th:src="@{/images/likeimg.png}"
                      class="likeimage"
                      width="14px"
                      height="14px"
              />
              <p class="likeimagetext" th:text="${story.likes.size()}">0</p>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- 테마별 상세페이지 스토리 끝 -->
</body>

<script th:src="@{/js/ThemeDetailPage.js}"></script>
</html>
