<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/upload.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>스토리 업로드</title>
  </head>
  <body>
    <!-- 임시버튼 -->
    <input type="checkbox" id="join" />
    <label for="join">업로드</label>

    <!-- 업로드 화면이 떴을 때 뒷배경 회색처리 -->
    <div id="bg_gray1">
      <div id="Upload_pop_up">
        <div id="StoryUploadTitle">
          <div id="Upload_text">스토리 업로드</div>
          <img
            id="uploadclose"
            src="../static/images/X.png"
            alt="X"
            width="28px"
            height="28px"
            onclick="StoryUploadPopup.style.display='none'"
          />
        </div>
        <form
          id="uploadForm"
          action="/upload"
          method="POST"
          onsubmit="return uploadPost(event)"
        >
          <!-- 사진 업로드 -->
          <div id="photoTitle">사진</div>
          <div
            id="upload-placeholder"
            class="upload-placeholder"
            style="display: block"
            onclick="document.getElementById('image').click()"
          >
            <div class="UploadBlank" style="display: block"></div>
            <img
              id="uploadimg"
              src="../static/images/uploadimg.png"
              alt="이미지 업로드"
              style="display: block"
              width="152px"
              height="152px"
            />
            <p style="display: block">당신만의 스토리를 업로드 해보세요!</p>
            <label className="input-file-button" for="input-file">
              불러오기
            </label>
            <input
              type="file"
              class="input-file"
              id="input-file"
              style="display: none"
              onchange="getURL(this)"
            />
            <!-- // 기존의 input file 태그 숨김 -->
            <img id="uploadedImage" src="" />
          </div>
          <!-- 제목 -->
          <div class="form-field">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" />
          </div>
          <!-- 날짜 -->
          <div class="form-field">
            <div id="upload-calender">날짜</div>
            <div class="info__upload" id="info__upload">
              <select class="box" id="upload-year">
                <option disabled selected>년</option>
              </select>
              <select class="box" id="upload-month">
                <option disabled selected>월</option>
              </select>
              <select class="box" id="upload-day">
                <option disabled selected>일</option>
              </select>
            </div>
          </div>
          <!-- 위치 -->
          <div class="form-field">
            <label for="location">위치</label>
            <input
              type="text"
              id="location"
              name="location"
              placeholder="예) 서울 청계천, 부산 해운대, 설악산 신선대 "
            />
          </div>
          <!-- 태그 -->
          <div class="form-field">
            <div id="tagInputTitle_span">
              <label for="tagInput" id="tagInputTitle">태그</label>
            </div>
            <div class="tag-input-wrapper">
              <input type="text" id="tagInput" />
              <button type="button" onclick="addTag()">추가</button>
            </div>
            <div class="tag-list" id="tagList"></div>
            <input type="hidden" id="tags" name="tags" />
          </div>
          <!-- 상세설명 -->
          <div class="form-field">
            <label for="description">상세설명</label>
            <textarea
              id="description"
              name="description"
              rows="4"
              placeholder="사진에 대해 다른 이용자들에게 간단한 설명을 해주세요!"
            ></textarea>
          </div>
          <button type="submit" class="upload-button">업로드</button>
        </form>
      </div>
    </div>

    <script src="../static/js/upload.js"></script>
  </body>
</html>
