<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/Home.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>SoT</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_logo">
        <div id="nav_logo1">
          <img
            src="../static/images/MainLogo.png"
            alt="로고"
            width="225px"
            height="60px"
          />
        </div>
        <div class="nav_menu">
          <ul class="navigation">
            <li><a href="" class="b">홈</a></li>
            <li><a href="" class="c">지역</a></li>
            <li><a href="" class="c">지도</a></li>
            <li><a href="" class="c">북마크</a></li>
          </ul>
        </div>

        <div id="search">
          <input type="text" class="search" />
          <img
            src="../static/images/search.png"
            alt="돋보기"
            width="30px"
            height="30px"
          />
        </div>
        <input type="button" class="imagebtn" />
        <input type="button" class="uploadbtn" />
        <input type="checkbox" id="join" />
        <label for="join">로그인</label>
      </div>
    </nav>

    <!-- 로그인 팝업창 시작-->
    <!-- 로그인 창이 떴을 때 뒷배경 회색처리 -->
    <div id="bg_gray">
      <!--로그인 팝업창 -->
      <div id="login_pop_up">
        <div id="first">
          <div id="logo1">
            <img
              src="../static/images/Logo.png"
              alt="Logo"
              width="238px"
              height="55px"
            />
          </div>

          <div id="middle"></div>

          <div id="close1">
            <img
              src="../static/images/X.png"
              alt="X"
              width="28px"
              height="28px"
              onclick="loginPopup.style.display='none'"
            />
          </div>
        </div>

        <hr />

        <div id="text21">로그인 후 당신의 스토리를 포스팅해보세요!</div>

        <!-- 이메일 입력칸 -->
        <div class="input1">
          <label for="email_input">
            <input type="text" id="email_input" placeholder="이메일" />
          </label>
        </div>

        <!-- 비밀번호 입력칸 -->
        <div class="input2">
          <label for="pw_input">
            <input type="password" id="pw_input" placeholder="비밀번호" />
          </label>
        </div>

        <!-- 자동로그인과 회원가입구역 -->
        <div class="text22">
          <input type="checkbox" class="orgin" id="checkbtn" />
          <label for="checkbtn">자동로그인</label>

          <div id="blank1"></div>
          <!-- <div id="checkbtn">
        <img
          src="../static/images/checkbtn1.png"
          alt="자동로그인 버튼"
          width="18px"
          height="18px"
        />
      </div> -->
          <!-- <div id="autologin">자동로그인</div> -->
          <div id="join_membership">
            <a href="#" onclick="openSignUpPopup()"> 회원가입 </a>
          </div>
        </div>

        <!-- 로그인 버튼 -->
        <label for="login_btn">
          <button
            type="submit"
            class="confirm"
            id="login_btn"
            onclick="submitForm()"
          >
            로그인
          </button>
        </label>

        <!-- 계정을 잊으셨나요? 이메일 또는 비밀번호 찾기 구역 -->
        <div id="text23">
          계정을 잊으셨나요? <a href="#">이메일</a> 또는
          <a href="#">비밀번호</a> 찾기
        </div>
      </div>

      <!-- 회원가입 팝업창 -->
      <div id="join_pop_up">
        <div id="first">
          <div id="logo">
            <img
              src="../static/images/Logo.png"
              alt="Logo"
              width="238px"
              height="55px"
            />
          </div>

          <div id="middle1"></div>

          <div id="close">
            <img
              src="../static/images/X.png"
              alt="X"
              width="28px"
              height="28px"
              onclick="loginPopup.style.display='none'"
            />
          </div>
        </div>

        <hr />

        <!-- 로고와 로그인페이지로 넘어가는 링크 -->
        <div id="second">
          <div id="text">회원가입</div>

          <div id="middle2"></div>

          <div id="back">
            <a href="#" onclick="openLoginPopup()">로그인 페이지로 돌아가기</a>
          </div>
        </div>

        <!-- 이메일 입력칸 -->
        <div class="join_input1">
          <div id="text2">이메일</div>
          <label for="email_input1">
            <input
              type="text"
              id="email_input1"
              placeholder="이메일 입력"
              onclick="validateEmail()"
            />
          </label>
        </div>

        <div id="email_text">
          <!-- <div id="possible_email"></div> -->
        </div>

        <div id="blank"></div>

        <!-- 비밀번호 입력칸 -->
        <div class="join_input2">
          <div id="text3">비밀번호</div>
          <label for="join_pw_input">
            <input
              type="password"
              id="join_pw_input"
              placeholder="비밀번호 입력"
              oninput="checkInputs()"
              onchange="check_pw()"
            />
          </label>
        </div>

        <div id="check_pw">
          <span id="text24" class="pw1">특수문자 포함</span>
          <div id="imageContainer1" style="display: none">
            <img
              id="check_img1"
              src="../static/images/check.png"
              alt="check"
              width="8px"
              height="5px"
            />
          </div>
          <div id="middle3"></div>
          <span id="text25" class="pw2">8자 이상</span>
          <div id="imageContainer2" style="display: none">
            <img
              id="check_img2"
              src="../static/images/check.png"
              alt="check"
              width="8px"
              height="5px"
            />
          </div>
        </div>

        <div id="blank"></div>

        <!-- 닉네임 입력칸 -->
        <div class="input3">
          <div id="text4">닉네임</div>
          <label for="name_input">
            <input
              type="text"
              id="name_input"
              placeholder="닉네임을 입력해주세요.(2~8자)"
              size="32"
              oninput="validateName()"
            />
          </label>
        </div>

        <div id="name_possible"></div>
        <div id="blank"></div>

        <!-- 생년월일 입력칸 -->
        <div id="birth">
          <div id="text5">생년월일</div>
        </div>

        <div class="info" id="info__birth">
          <select class="box" id="birth-year">
            <option disabled selected>년</option>
          </select>
          <select class="box" id="birth-month">
            <option disabled selected>월</option>
          </select>
          <select class="box" id="birth-day">
            <option disabled selected>일</option>
          </select>
        </div>
        <div id="blank"></div>

        <!-- 성별 버튼 카테고리-->
        <div id="gender">
          <div id="text6">성별</div>
        </div>
        <div id="gender_choose">
          <button
            id="button1"
            class="button"
            onclick="selectButton(1)"
            type="button"
          >
            남성
          </button>
          <button
            id="button2"
            class="button"
            onclick="selectButton(2)"
            type="button"
          >
            여성
          </button>
        </div>

        <div id="blank"></div>

        <!-- 전화번호 카테고리 -->
        <div id="phone">전화번호</div>
        <div class="input4">
          <label for="phone_input1">
            <input
              type="text"
              class="phone_input"
              id="phone_input1"
              placeholder="010"
            />
          </label>
          <div id="text7">-</div>
          <label for="phone_input2">
            <input
              type="text"
              class="phone_input"
              id="phone_input2"
              placeholder="1234"
            />
          </label>
          <div id="text7">-</div>
          <label for="phone_input3">
            <input
              type="text"
              class="phone_input"
              id="phone_input3"
              placeholder="5678"
            />
          </label>
        </div>
        <div class="input5">
          <label for="CertificationNumber_input">
            <input
              type="text"
              id="CertificationNumber_input"
              placeholder="인증번호를 입력해 주세요"
            />
          </label>
          <button>전송</button>
        </div>
        <div id="text8">실명인증을 완료해 주세요</div>
        <div id="blank"></div>

        <!-- 지역카테고리 -->
        <div id="area">
          <div id="text9">지역</div>
        </div>

        <div class="info_area" id="info_area">
          <select class="box" id="area1">
            <option disabled selected>시/도</option>
          </select>
          <select class="box" id="area2">
            <option disabled selected>시/구/군</option>
          </select>
          <select class="box" id="area3">
            <option disabled selected>동/읍/면</option>
          </select>
        </div>

        <div id="blank2"></div>

        <!-- 이용약관 동의란 -->
        <div id="container1">
          <input type="checkbox" class="orgin2" id="checkbtn2" />
          <label for="checkbtn2"
            ><a
              href="#"
              style="
                color: #448fff;
                font-family: Pretendard;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration-line: underline;
              "
              >이용약관</a
            >&nbsp;동의</label
          >
        </div>

        <div id="blank3"></div>

        <div id="container2">
          <input type="checkbox" class="orgin3" id="checkbtn3" />
          <label for="checkbtn3">
            <a
              href="#"
              style="
                color: #448fff;
                font-family: Pretendard;
                font-size: 17px;
                font-style: normal;
                font-weight: 500;
                line-height: normal;
                text-decoration-line: underline;
              "
              >개인정보 처리방침</a
            >&nbsp;동의</label
          >
        </div>

        <div id="blank"></div>

        <!-- 회원가입 버튼 -->
        <label for="join_btn">
          <button type="submit" class="confirm" id="join_btn">회원가입</button>
        </label>
        <div id="blank4"></div>
      </div>
    </div>
    <!-- 로그인 팝업창 끝-->

    <!-- 슬라이드 광고 시작 -->

    <div class="slide-container">
      <div class="slide_content">
        <div class="slide">
          <img
            src="../static/images/slide1.png"
            alt="Slide 1"
            width="1200px"
            height="480px"
          />
          <div class="button-container">
            <button class="slide-btn1" onclick="prevSlide()"></button>
            <div class="text-container">
              <div id="slide_text1">북촌 한옥마을</div>
              <div id="slide_text2">
                북촌 한옥마을은 한국의 전통과 현대가 공존하는 아름다운
                곳입니다.<br />
                작은 골목과 돌담길로 이루어진 이 마을은 조선 시대의 전통 가옥과
                문화를 그대로 <br />간직하고 있습니다.
              </div>
              <div id="slide_text3"><a href="#">자세히 보기</a></div>
            </div>
            <button class="slide-btn2" onclick="nextSlide()"></button>
          </div>
          <div class="index-container">
            <span class="current-index">1/3</span>
          </div>
        </div>
        <div class="slide">
          <img
            src="../static/images/slide2.png"
            alt="Slide 2"
            width="1200px"
            height="480px"
          />
          <div class="button-container">
            <button class="slide-btn1" onclick="prevSlide()"></button>
            <div class="text-container">
              <div id="slide_text1">북촌 한옥마을</div>
              <div id="slide_text2">
                북촌 한옥마을은 한국의 전통과 현대가 공존하는 아름다운
                곳입니다.<br />
                작은 골목과 돌담길로 이루어진 이 마을은 조선 시대의 전통 가옥과
                문화를 그대로 <br />간직하고 있습니다.
              </div>
              <div id="slide_text3"><a href="#">자세히 보기</a></div>
            </div>
            <button class="slide-btn2" onclick="nextSlide()"></button>
          </div>
          <div class="index-container">
            <span class="current-index">2/3</span>
          </div>
        </div>
        <div class="slide">
          <img
            src="../static/images/slide3.png"
            alt="Slide 3"
            width="1200px"
            height="480px"
          />
          <div class="button-container">
            <button class="slide-btn1" onclick="prevSlide()"></button>
            <div class="text-container">
              <div id="slide_text1">북촌 한옥마을</div>
              <div id="slide_text2">
                북촌 한옥마을은 한국의 전통과 현대가 공존하는 아름다운
                곳입니다.<br />
                작은 골목과 돌담길로 이루어진 이 마을은 조선 시대의 전통 가옥과
                문화를 그대로 <br />간직하고 있습니다.
              </div>
              <div id="slide_text3"><a href="#">자세히 보기</a></div>
            </div>
            <button class="slide-btn2" onclick="nextSlide()"></button>
          </div>
          <div class="index-container">
            <span class="current-index">3/3</span>
          </div>
        </div>
        <!-- 
        <div class="button-container">
          <button class="slide-btn1" onclick="prevSlide()"></button>
          <button class="slide-btn2" onclick="nextSlide()"></button>
        </div> -->
      </div>
    </div>
    <!-- 슬라이드 광고 끝 -->

    <!-- 내스토리 등록하기 시작 -->
    <div id="myStoryUpload">
      <div id="mystory">
        <div id="text31">
          여러 사람들에게 <span>여러분만의 스토리</span>를 소개해보세요!
        </div>
        <div id="text32">
          <a href="" class="text32design">
            내 스토리 등록하기
            <img
              src="../static/images/Vector 10.png"
              alt="화살표"
              width="7px"
              height="14px"
          /></a>
        </div>
        <img
          src="../static/images/storyupload.png"
          alt="내 스토리 등록하기 그림"
          class="storyimg"
          width="221px"
          height="100px"
        />
      </div>
    </div>
    <!-- 내 스토리 등록하기 끝 -->

    <!--  테마별 여행지 시작 -->
    <div id="theme">
      <img src="../static/images/themeimg.png" class="themeimg">
      <p class="theme"><b>테마별 여행지</b></p>
      <input type="button" class="theme1" onclick="location.href='./themepage.html';">
    </div>
  </body>
  <script src="../static/js/Home.js"></script>
</html>
