<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/SeasonDetailPage.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>SoT</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_logo">
        <div id="nav_logo1">
          <img
            src="../static/images/MainLogo.png"
            alt="로고"
            width="225px"
            height="60px"
          />
        </div>
        <div class="nav_menu">
          <ul class="navigation">
            <li><a href="../templates/Home.html" class="b">홈</a></li>
            <li><a href="#" class="c">지역</a></li>
            <li><a href="#" class="c">지도</a></li>
            <li><a href="#" class="c">북마크</a></li>
          </ul>
        </div>

        <div id="search">
          <input type="text" class="search" />
          <img
            src="../static/images/search.png"
            alt="돋보기"
            width="30px"
            height="30px"
          />
        </div>
        <input type="button" class="imagebtn" />
        <input type="button" class="uploadbtn" />
        <input type="checkbox" id="join" />
        <label for="join">로그인</label>
      </div>
    </nav>

    <!--  시즌별 시작 -->

    <div id="SeasonStoryfull">
        <div id="SeasonStory">
          <div id="SeasonStoryTitle">
            <div id="seasonstorytitle_1">
              <img
                src="../static/images/seasonimg.png"
                class="seasonstoryimg"
                width="90px"
                height="90px"
              />
              <p class="themetitle1">시즌별 스토리</p>
            </div>
            <div id="seasonstory_select">
              <form action="#">
                <select name="story_select" id="story_select">
                  <option value="recom" class="recom_select">추천순</option>
                  <option value="newest" class="newest_select">최신순</option>
                  <option value="inquiry" class="inquiry_select">조회순</option>
                  <option value="month" class="month_select">
                    이번 달 조회순
                  </option>
                  <option value="today" class="today_select">오늘 조회순</option>
                </select>
              </form>
            </div>
          </div>
          <div id="SeasonStoryBack"></div>
        </div>
      </div>
      <!-- 시즌별 상세페이지 스토리 끝 -->


  </body>
</html>