<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/ThemeDetailPage.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <title>SoT</title>
  </head>
  <body>
    <nav class="navbar">
      <div class="nav_logo">
        <div id="nav_logo1">
          <img
            src="../static/images/MainLogo.png"
            alt="로고"
            width="225px"
            height="60px"
          />
        </div>
        <div class="nav_menu">
          <ul class="navigation">
            <li><a href="../templates/Home.html" class="b">홈</a></li>
            <li><a href="#" class="c">지역</a></li>
            <li><a href="#" class="c">지도</a></li>
            <li><a href="#" class="c">북마크</a></li>
          </ul>
        </div>

        <div id="search">
          <input type="text" class="search" />
          <img
            src="../static/images/search.png"
            alt="돋보기"
            width="30px"
            height="30px"
          />
        </div>
        <input type="button" class="imagebtn" />
        <input type="button" class="uploadbtn" />
        <input type="checkbox" id="join" />
        <label for="join">로그인</label>
      </div>
    </nav>

    
  </body>
</html>