<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../static/css/localDetailPage.css" />
    <link
            rel="stylesheet"
            type="text/css"
            href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap"
            rel="stylesheet"
    />
    <title>SoT</title>
</head>
<body>
<nav class="navbar">
    <div class="nav_logo">
        <div id="nav_logo1">
            <a href="./test">
                <img
                        src="../../static/images/MainLogo.png"
                        alt="로고"
                        width="225px"
                        height="60px"
                /></a>
        </div>
        <div class="nav_menu">
            <ul class="navigation">
                <li><a href="./test" class="b">홈</a></li>
                <li><a href="" class="c">지역</a></li>
                <li><a href="" class="c">지도</a></li>
                <li><a href="" class="c">북마크</a></li>
            </ul>
        </div>

        <div id="search">
            <input type="text" class="search" />
            <img
                    src="../../static/images/search.png"
                    alt="돋보기"
                    width="30px"
                    height="30px"
            />
        </div>
        <input type="button" class="imagebtn" />

        <input type="button" class="uploadbtn" />

        <input type="checkbox" id="join" />
        <label for="join">로그인</label>
    </div>
</nav>

<!--  급상승 시작 -->

<div id="Regionfull">
    <div id="RegionBack">
        <div id="RegionMainIMG">
            <img
                    src="../../static/images/regionmain.png"
                    class="risemainimg"
                    width="1200px"
                    height="352px"
            />
            <p class="region_Kname">서울 특별시 송파구</p>
            <p class="region_Ename">Songpa-gu</p>
        </div>
        <div id="RegionStorySet">
            <p class="RegionStoryNum">1,223개의 스토리</p>
            <div id="RegionStoryList">
                <form action="#">
                    <select name="story_select" id="story_select">
                        <option value="recom" class="recom_select">추천순</option>
                        <option value="newest" class="newest_select">최신순</option>
                        <option value="inquiry" class="inquiry_select">조회순</option>
                        <option value="month" class="month_select">이번 달 조회순</option>
                        <option value="today" class="today_select">오늘 조회순</option>
                    </select>
                </form>
            </div>
        </div>
        <div class="back">
            <div class="stories" th:each="story, iterStat : ${stories}">
                <div class="story">
                    <a th:href="@{/story/{storyId}(storyId=${story.storyId})}">
                        <img
                                id="storyimage"
                                src="../../static/images/best1.png"
                                alt="Story Image"
                        />
                        <div id="storyTitlefull">
                            <p id="storyTitle" th:text="${story.title}">Story Title</p>
                            <div class="right-side">
                                <img
                                        src="../../static/images/seeimg.png"
                                        class="seeimage"
                                        width="16px"
                                        height="16px"
                                />
                                <p class="imagetext" th:text="${story.viewCount}">0</p>
                                <img
                                        src="../../static/images/likeimg.png"
                                        class="likeimage"
                                        width="14px"
                                        height="14px"
                                />
                                <p class="imagetext" th:text="${story.likes.size()}">0</p>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <div>
            <label for="morebtn">
                <button
                        type="button"
                        id="morebtn"
                        onclick="location.href='';"
                ></button>
            </label>
        </div>
    </div>
</div>

<!-- 푸터 -->
<div id="Footer">
    <button class="footer_1">개인정보처리방침</button>
    <button class="footer_2">이용약관</button>
    <p class="email">Contact. SoT.office@gmail.com</p>
    <p class="SoT_2024">© 2024 SoT. All rights reserved.</p>
</div>
<!-- 푸터 끝 -->
</body>